{% extends 'base.html' %}
{% load staticfiles thumbnail smartpages i18n %}
{% load getattribute %}

{% block site_title %}{{ CATEGORIES|getattribute:spaceawe_category|getattribute:'title' }} | Space Awareness {% endblock %}

{% block extra_body_class %}section-categories{% endblock %}

{% block slogan %}
<div class="slogan subtitle">
    {{ CATEGORIES|getattribute:spaceawe_category|getattribute:'title' }}
</div>
<div class="slogan">
    {{ CATEGORIES|getattribute:spaceawe_category|getattribute:'subtitle' }}
</div>


{% endblock %}

{% block extra_js %}
  {{ block.super }}
{% endblock %}

{% block content %}
    <div id="cover" class="">
        <div class="feature-container" style="background-image: url({% static 'img/line_pattern_04.png' %}),  url({% static 'img/cover/'|add:spaceawe_category|add:'.jpg' %}); background-size: auto, cover;">
            <div class="fake-padding"></div>
            <div>
                <img height="200" src="{% static 'img/icons/categories/icon_'|add:spaceawe_category|add:'_white.svg' %}">
                <div class="feature">
                    <div class="title-container"><div class="title-subcontainer">
                        <div class="title">
    {{ CATEGORIES|getattribute:spaceawe_category|getattribute:'teaser' }}
                            <div class="subtitle">
    {% smartembed 'category-'|add:spaceawe_category|add:'-intro' %}
                            </div>
                        </div>
                    </div></div>
                </div>
                <nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="{% static 'img/buttons/arrow_down_white.svg' %}"></a></nav>
            </div>
        </div>
    </div>

    <div class="thumbnailed-list pure-g">
		<div id="main" class="anchor"></div>
        <div class="title-container pure-u-1 text-content smartembed" aria-haspopup="true">
            <h1 class="title">{% trans 'Related content' %}</h1>    
        </div>
    </div>

    {% with object_list=scoops %}{% if scoops %}
    <div class="thumbnailed-list scoops pure-g">
        <div class="pure-u-1 list-header">
            <h2 class="title">{{ SECTIONS.scoops.title }}</h2>
        </div>
		<div class="row">
			<div class="padded-h">
				<ol class="padded-list">
					{% include 'spacescoops/article_list_page_in_category.html' %}
				</ol>
	        </div>
	        {% if scoops_len > 3 %}
			<div class="pure-u-1 list-footer">
				<a class="{% if class_name %} {{ class_name }}{% endif %} load-more-button" href="{% url 'scoops:list' %}category/{{category}}/#filters"
					rel="{{ querystring_key }}">{% if label %}{{ label|safe }}{% else %}{% trans "Load more" %}{% endif %}</a>
			</div>
			{% endif %}
	    </div>
    </div>
    {% endif %}{% endwith %}

    {% with object_list=games %}{% if games %}
    <div class="thumbnailed-list games pure-g">
        <div class="pure-u-1 list-header">
            <h2 class="title">{{ SECTIONS.games.title }}</h2>
        </div>
		<div class="row">
			<div class="padded-h">
				<ol class="padded-list">
			        {% include 'games/game_list_page_in_category.html' %}
				</ol>
	        </div>
	        {% if games_len > 3 %}
			<div class="pure-u-1 list-footer">
				<a class="{% if class_name %} {{ class_name }}{% endif %} load-more-button" href="{% url 'games:list' %}category/{{category}}/#filters"
					rel="{{ querystring_key }}">{% if label %}{{ label|safe }}{% else %}{% trans "Load more" %}{% endif %}</a>
			</div>
			{% endif %}
	    </div>
    </div>
    {% endif %}{% endwith %}

    {% with object_list=activities %}{% if activities %}
    <div class="thumbnailed-list activities pure-g">  
        <div class="pure-u-1 list-header">
            <h2 class="title">{{ SECTIONS.activities.title }}</h2>
        </div>
		<div class="row">
			<div class="padded-h">
				<ol class="padded-list">
			        {% include 'activities/activity_list_page_in_category.html' %}
				</ol>
	        </div>
	        {% if activities_len > 3 %}
			<div class="pure-u-1 list-footer">
				<a class="{% if class_name %} {{ class_name }}{% endif %} load-more-button" href="{% url 'activities:list' %}category/{{category}}/#filters"
					rel="{{ querystring_key }}">{% if label %}{{ label|safe }}{% else %}{% trans "Load more" %}{% endif %}</a>
			</div>
			{% endif %}
	    </div>
    </div>
    {% endif %}{% endwith %}


		<div class="padded-h">
		<ul id="categories" class="list-4col">
			{% include 'spaceawe/categories_bigicons.html' %}
		</ul>
    </div>

{% endblock %}
