{% load staticfiles %}
        <li class="category category-1" aria-haspopup="true">
            <a href="{% url 'categories' code='space' %}">
                <div class="icon">
                    <div class="normal icon-space"></div>
                    <div class="hover icon-space"></div>
                </div>
                <div class="title">{{ CATEGORIES.space.title }}</div>
            </a>
        </li>
        <li class="category category-1" aria-haspopup="true">
            <a href="{% url 'categories' code='earth' %}">
                <div class="icon">
                    <div class="normal icon-earth"></div>
                    <div class="hover icon-earth"></div>
                </div>
                <div class="title">{{ CATEGORIES.earth.title }}</div>
            </a>
        </li>
        <li class="category category-1" aria-haspopup="true">
            <a href="{% url 'categories' code='navigation' %}">
                <div class="icon">
                    <div class="normal icon-navigation"></div>
                    <div class="hover icon-navigation"></div>
                </div>
                <div class="title">{{ CATEGORIES.navigation.title }}</div>
            </a>
        </li>
        <li class="category category-1" aria-haspopup="true">
            <a href="{% url 'categories' code='heritage' %}">
                <div class="icon">
                    <div class="normal icon-heritage"></div>
                    <div class="hover icon-heritage"></div>
                </div>
                <div class="title">{{ CATEGORIES.heritage.title }}</div>
            </a>
        </li>
