{% extends 'base.html' %}
{% load staticfiles thumbnail i18n %}

{% block extra_body_class %}homepage{% endblock %}

{% block slogan %}
<div class="slogan">{% trans "Inspiring a new generation of space explorers" %}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script src="{% static 'js/scripts.topbar.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="cover" class="">
        <div class="feature-container">
            <div class="fake-padding"></div>
            <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-timeout="5000">
                <nav class="cycle-pager"></nav>
    {% for object in highlights %}
        {% thumbnail object.item.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
                <div class="feature" style="background-image: url({% static 'img/line_pattern_04.png' %}), url({{ im.url }});">
                    <div class="title-container"><div class="title-subcontainer">
                        <!-- <div class="suptitle">news and more</div> -->
                        <div class="title"><a href="{{ object.item.get_absolute_url }}">{{ object.item.title }}</a></div>
                        <div class="subtitle">{{ object.item.teaser }}</div>
                    </div></div>
                </div>
        {% endthumbnail %}
    {% endfor %}
                <nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#sections"><img src="{% static 'img/buttons/arrow_down_white.svg' %}"></a></nav>
            </div>
        </div>
    </div>
    <div id="sections" class="page2 snap pure-g">
        <div class="section section-1 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "careers:list" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'careers:list' %}">{{ SECTIONS.careers.title }}</a></div>
                <div class="description">{{ SECTIONS.careers.teaser }}</div>
                <div class="expand"><a href="{% url 'careers:list' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
        <div class="section section-2 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "scoops:list" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'scoops:list' %}">{{ SECTIONS.scoops.title }}</a></div>
                <div class="description">{{ SECTIONS.scoops.teaser }}</div>
                <div class="expand"><a href="{% url 'scoops:list' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
        <div class="section section-3 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "games:list" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'games:list' %}">{{ SECTIONS.games.title }}</a></div>
                <div class="description">{{ SECTIONS.games.teaser }}</div>
                <div class="expand"><a href="{% url 'games:list' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
        <div class="section section-4 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "activities:list" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'activities:list' %}">{{ SECTIONS.activities.title }}</a></div>
                <div class="description">{{ SECTIONS.activities.teaser }}</div>
                <div class="expand"><a href="{% url 'activities:list' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
        <div class="section section-5 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "soon_skills" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'soon_skills' %}">{{ SECTIONS.skills.title }}</a></div>
                <div class="description">{{ SECTIONS.skills.teaser }}</div>
                <div class="expand"><a href="{% url 'soon_skills' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
        <div class="section section-6 pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6" aria-haspopup="true" onclick="location.href='{% url "about" %}'">
            <div class="box-middle-ext"><div class="box-middle-int">
                <div class="title"><a href="{% url 'about' %}">{{ SECTIONS.about.title }}</a></div>
                <div class="description">{{ SECTIONS.about.teaser }}</div>
                <div class="expand"><a href="{% url 'about' %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
            </div></div>
        </div>
<!--         <div class="pure-u-1">
            <div class="arrow-pagedown-container"><a class="arrow-pagedown"><img src="{% static 'img/buttons/arrow_down_black.svg' %}"></a></div>
        </div>
 -->
    </div>
    <!-- <div id="categories" class="snap pure-g"> -->
    <div id="categories" class="pure-g">
    {% include 'spaceawe/categories_bigicons.html' %}
    </div>
    <div id="subscribe" class="snap pure-g">
        <div class="subscribe-container-1 pure-u-1"><div class="subscribe-container-2"><div class="subscribe-container-3">
            <div class="line1">{% trans "Subscribe to our newsletter" %}</div>
            <div class="line2">{% trans "and stay updated about new resources and events" %}</div>

            <div id="mc_embed_signup">
            <form action="//space-awareness.us6.list-manage.com/subscribe/post?u=fcaa73d53911340a72d92d73f&amp;id=9b3d6f66fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="clearfix row">
                    <div class="w50">
                        <div class="mc-field-group ">
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="name">
                        </div>
                    </div>
                    <div class="w50">
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5" placeholder="country">
                        </div>
                    </div>
                </div>

               <div class="clearfix row">
                    <div class="w50">
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3" placeholder="institution">
                        </div>
                    </div>
                    <div class="w50">
                        <div class="mc-field-group ">
                            <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4" placeholder="role">
                        </div>
                    </div>
                </div>


                <div class="clearfix row">
                    <div class="w100">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="e-mail...">
                        </div>
                    </div>
                </div>
                <div class="clearfix row">
                    <div class="w100">
                        <div class="mc-field-group white_btn">
                            <div>
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            </div>


<!--             <div id="mc_embed_signup">
                <form action="//eun.us6.list-manage.com/subscribe/post?u=fcaa73d53911340a72d92d73f&amp;id=9b3d6f66fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="mc-field-group">
                        <div class="newsletter-input-small"><input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="name"></div>
                        <div class="newsletter-input-small"><input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5" placeholder="country"></div>
                    </div>
                    <div class="mc-field-group">
                        <div class="newsletter-input-small"><input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3" placeholder="institution"></div>
                        <div class="newsletter-input-small"><input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4" placeholder="role"></div>
                    </div>
                    <div class="mc-field-group">
                        <div class="newsletter-input-large"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="e-mail"></div>
                    </div>
                    <div class="mc-field-group">
                        <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>

                </form>
            </div>
 -->

        </div></div></div>
    </div>

{% endblock %}
