{% extends 'base.html' %}
{% load staticfiles thumbnail i18n %}

{% block extra_body_class %}homepage{% endblock %}



{% block extra_js %}
  {{ block.super }}
<script src="{% static 'js/scripts.topbar.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="pure-g">

        <div class="title-container pure-u-1" aria-haspopup="true">
        <p style="margin-top: 250px;margin-bottom: 100px;">{% trans "This section is coming soon!" %}<br/><br/>
{% trans "Be among the first to be notified by subscribing to the Space Awareness newsletter on the home page" %}</p>
        </div>

    </div>


{% endblock %}
