{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles thumbnail i18n %}

{% block extra_body_class %}section-skills{% endblock %}

{% block slogan %}
<div class="slogan subtitle">{{ SECTIONS.skills.title }}</div>
<div class="slogan">{{ SECTIONS.skills.subtitle }}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script src="{% static 'js/jQueryRotate.js' %}"></script>
{% endblock %}

{% block content %}

<div id="cover">
  <div class="feature-container">
    <div class="fake-padding" style="height: 215px;"></div>
    <div class="feature" style="background-image: url(/static/img/line_pattern_04.png), url(/static/img/cover/develop.jpg);">
      <div class="title-container">
	<div class="title-subcontainer">
	  <div class="title">
	      {% trans "Develop skill to better use space sciences for education" %}
	  </div>
	</div>
      </div>
    </div>
	<nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="/static/img/buttons/arrow_down_white.svg"></a></nav>
  </div>
</div>

<div class="page2 pure-g">
	<div id="main" class="anchor"></div>
  <div class="pure-u-1 text-content smartembed">
	  <p>
	  	In this page, you can find:
	  </p>
	  <p>
	  	<b>The Space Awareness online course MOOC series</b>. Free and open to anyone, the courses especially target primary and secondary school teachers and science communication professionals interested in developing their skills and use space for education.
	  </p>
	  <p>
	  	<b>Thematic guided lesson plans and support material</b> allow education professionals to follow examples of activities with tips and guidelines.
	  </p>
	  <p>
	  	<b>Assessment tools</b> to supporting student’s effective development, understand their current knowledge and confidence in the topic being taught. <a href="#assessment-tools-anchor">Go to Assessment tools.</a>
	  </p>
    <p>
      <center><a href="http://www.europeanschoolnetacademy.eu/en/web/our-fragile-planet">Register now for the Our Fragile Planet MOOC</a></center>
    </p>
  </div>
</div>

<div class="assessments">
	{% if moocs %}
		{% for mooc in moocs %}
			<h2 id="heading{{ forloop.counter }}" class="title section-title">{{ mooc.info }}</h2>
			<div class="content-page pure-g padded-bottom">
				<div class="assessment-title">
					<h2 class="title assessment-title">{% trans "Online course" %} MOOC {{ forloop.counter }}</h2>
				</div>
				<div class="assessment-tools">
				{% for module in mooc.module_set.all reversed %}
					<div class="row">
						<div class="mooc">
							<b>{{ module.info_parts.0 }}</b>:&nbsp;{{ module.info_parts.1 }}
						</div>
						<div class="duration">
							<b>{{ module.duration }}</b>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="assessment-tools mooc-extra" id="mooc{{ forloop.counter }}">
					<div class="mooc{{ forloop.counter }}">
						<div id="mooc-{{ forloop.counter }}-more">
							<div class="close-button">
								<a href="#heading{{ forloop.counter }}">
									<img src="/static/img/buttons/plus_button_develope.svg" width="25px" class="plus{{ forloop.counter }}"
									 onclick="$('#mooc{{ forloop.counter }}').toggle('slow'); $('.plus{{ forloop.counter }}').rotate(($('.plus{{ forloop.counter }}').getRotateAngle()[0] || 0) + 45);$('#show-more{{ forloop.counter}}').toggle()">
								</a>
							</div>

							<div class="mooc-more">
								<h3>{% trans "Overview" %}</h3>

								<h4>{% trans "Introduction" %}</h4>
								{{ mooc.introduction }}

								<h4>{% trans "What you will learn" %}</h4>
								{{ mooc.what_you_will_learn }}

								<h4>{% trans "What skills will you need" %}</h4>
								{{ mooc.what_skills_will_you_need }}<br>

								<h4>{% trans "Duration of the course" %}</h4>
								{{ mooc.duration_of_the_course }}
							</div>
							<span class="start-date">{% trans "Starting date"|upper %}: <strong>{{ mooc.starting_date }}</strong></span>
						</div>
					</div>

				</div>

				<div class="extra">
					<a id="show-more{{ forloop.counter}}" href="#mooc-{{ forloop.counter }}-more" onclick="$('#mooc{{ forloop.counter }}').toggle('slow');$(this).hide();" class="call-to-action">{% trans "see more" %}</a>
					{% if mooc.enroll_url %}
					<a rel="page" href="{% if mooc.enroll_url %}{{ mooc.enroll_url }}{% else %}#{% endif %}" class="call-to-action">{% trans "Enroll" %}</a>
					{% endif %}
				</div>
			</div>

			{% if mooc.supportdocument_set.all %}
			<div class="content-page pure-g padded-bottom">
				<div class="assessment-title">
					<h2 class="title assessment-title">{% trans "Guided lesson plans and support documents" %}</h2>
				</div>
				<div class="assessment-tools">
				{% for doc in mooc.supportdocument_set.all reversed %}
					<div class="row">
						<div class="mooc">
							<b>{% trans "Didactic course"%}&nbsp;{{ forloop.counter }}</b>:&nbsp;{{ doc.title }}
						</div>
						<div class="duration">
							<b>{{ doc.duration }}</b>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="assessment-tools mooc-extra" id="sp{{ forloop.counter }}">
					<div class="mooc{{ forloop.counter }}">
						<div id="sp-{{ forloop.counter }}-more">
							<div class="close-button">
								<a href="#heading{{ forloop.counter }}">
									<img src="/static/img/buttons/plus_button_develope.svg" width="25px" class="plus{{ forloop.counter }}"
									 onclick="$('#sp{{ forloop.counter }}').toggle('slow'); $('.plus{{ forloop.counter }}').rotate(($('.plus{{ forloop.counter }}').getRotateAngle()[0] || 0) + 45);$('#sp-show-more{{ forloop.counter}}').toggle()">
								</a>
							</div>

							<div class="mooc-more">
								<h3>{% trans "Support documents and lesson plans" %}</h3>
								{% for doc in mooc.supportdocument_set.all reversed %}
								<h4>{{ doc.title }}</h4>
								<div>{{ doc.disclaimer|linebreaks }}</div>
								{% if doc.document_file %}
									<a class="call-to-action download" href="{% url 'develop:support_document' pk=doc.id %}" target="download">{% trans "Download" %}</a>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>

				</div>

				<div class="extra">
					<a id="sp-show-more{{ forloop.counter}}" href="#sp-{{ forloop.counter }}-more" onclick="$('#sp{{ forloop.counter }}').toggle('slow');$(this).hide();" class="call-to-action">{% trans "see more" %}</a>
				</div>
			</div>
			{% endif %}

		{% endfor %}
	{% endif %}

{% if assessment_tools %}
	<h2 class="title section-title" id="assessment-tools-anchor">{% trans "Assessment tools"%}</h2>

	{% regroup assessment_tools|dictsort:"assessment_type.id" by assessment_type as tools %}

	{% for tool in tools %}
	<div class="content-page pure-g padded-bottom">
		<div class="assessment-title">
			<h2 class="title assessment-title">{{ tool.grouper.title }} tools</h2>
		</div>
		<div class="assessment-tools">
		{% for tool_item in tool.list %}
			<div class="row">
				<div class="detail-link">
				<a href="{% url 'develop:assessment_tool_detail' slug=tool_item.slug %}">
					<img src="/static/img/buttons/plus_button_develope.svg" width="25px" />
				</a>
				</div>
				<div class="disclaimer">
					<b>{{ tool_item.title }}</b>:&nbsp;{{ tool_item.disclaimer }}
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
