{% extends 'base.html' %}
{% load staticfiles thumbnail smartpages i18n %}
{% block extra_body_class %}section-games{% endblock %}

{% block site_title %}{% trans 'Contest' %} | Space Awareness {% endblock %}


{% block slogan %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
    <script type="text/javascript" async src="{% static 'js/jquery.collapser.js' %}"></script>
{% endblock %}

{% block content %}
        <div id="cover">
        <div class="feature-container">
            <div class="fake-padding"></div>
            {% thumbnail object.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
            <div class="feature" style="background-image: url(/static/img/line_pattern_04.png), url({{ im.url }})">
            {% endthumbnail %}
                <div class="title-container">
                    <div class="title-subcontainer">
                        <div class="title">
                            {{ object.title }}
                        </div>
                        {{ object.teaser }}
                    </div>
                </div>
            </div>
            <nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="/static/img/buttons/arrow_down_white.svg"></a></nav>
        </div>
        </div>

    	<div class="thumbnailed-list careers page2 snap pure-g smartembed">
    		<div id="main" class="anchor"></div>
            <div class="pure-u-1 list-header">

                <div class="career_menu horizontal-jump-menu padded-h padded">
                    <ul class="list-5col{% if object.contest_sections.all|length < 5 %} under-filled{% endif %}">
                        {% for section in object.contest_sections.all %}
                        <li class="filter-topic-image">
                            <a class="double-line" href="#{{ section.slug }}">
                                <p class="menu-title-no-wrap menu_title menu_title-competition full-height">{{ section.title }}</p></br>
                                <span><img src="{% static 'img/down_circle_icon-games.svg' %}" alt=""></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div style="clear:both;"></div>
                </div>

                {% autoescape off %}
                <div class="padded-h content-container contest-content">
                        {% for section in object.contest_sections.all %}

                        <div class="row contest-row" id="{{ section.slug }}">
                            <div class="content-main-column">
                                <h3>{{ section.title}}</h3>

                                {% if section.collapse %}
                                <section class="collapser" lines="5" more="{% trans "Read more" %}" less="{% trans "Read less" %}">
				                {% endif %}

                                    {{ section.content}}

                                {% if section.collapse %}
                                </section>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                </div>
                {% endautoescape %}
            </div>
        </div>
{% endblock %}

