<!DOCTYPE html>{% load i18n parler_tags staticfiles smartpages thumbnail markdown relativise_img_src %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
    <head>
        <meta charset="utf-8">
        <title>{{ object.title }}</title>
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" />  <!-- media="print" -->
        <link href="{% static 'css/print-activities.css' %}" rel="stylesheet" type="text/css" />  <!-- media="print" -->
    </head>
    <body class="main-page">
        <div id="orbit">
            <img  class="big" src="{% static 'img/planets_orbit.svg' %}">
        </div>
        <div id="header">
            <div class="logo"><img src="{% static 'img/logo.svg' %}" /></div>
            <div class="title career-color">{{ object.title }}</div>
            <!-- <div class="subtitle">{% trans 'Tested by teachers' %}</div> -->
            <span class="teaser">{{ object.teaser }}</span>
            <div>
			    <span class="caption bolder">{% trans "Field" %}</span>
                <span class="value career-color">{{ object.field }}</span>
            </div>
			<div>
    			<span class="caption bolder">{% trans "Type" %}</span>
                <span class="value career-color">{{ object.career_type }}</span>
            </div>
            <div>
	    		<span class="caption bolder">{% trans "Level of study" %}</span>
		    	<span class="value career-color">{{ object.level_of_study }}</span>
            </div>
            <div class="categories">
            {% for category in object.spaceawe_categories %}
                <img src="{% static 'img/icons/categories/icon_'|add:category.code|add:'_turquoise.svg' %}">
            {% endfor %}
            </div>
        </div>
        <div id="footer">
            <div class="centered">
                <a href="http://www.space-awareness.org/">www.space-awareness.org</a>
            </div>
        </div>
        </div>
    </body>
</html>
