
/* --- Alex Devksh 11.06.16 --- */


/* --- section-careers ---*/

body.section-careers #header.small {
    color: black;
    height: 80px;
}

body.section-careers #header.small .logo .logo-el {
    background-image: url(../img/logo.svg);
}

.section-careers .thumbnailed-list.careers .list-header .selected {
    text-transform: capitalize;
}

.section-careers .thumbnailed-list .list-header .filters .filter-topic-image {
    padding: 0 4em;
}

.section-careers .wrapper_block_previews > .title {
    font-family: "Miso", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    text-align: center;
    font-size: 41px;
    margin: 55px 0 0;
}

.section-careers .thumbnailed-list .list-item .text .title {
    padding: 57px 20px 10px !important;
    font-size: 30px;
    font-family: "Miso", sans-serif;
    font-weight: 700;
    /*min-height: 94px;*/
}

.section-careers .content-card .thumbnailed-list .list-item .expand {
    padding: 7px 0 0;
}

.section-careers .wrapper_block_previews .title_green {
    color: #4ed8c3;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
}

.section-careers .wrapper_block_previews {
    width: 100%;
    margin-bottom: 140px;
}

.section-careers .thumbnailed-list .list-item.careers .color {
    background-color: rgba(78, 216, 195, 0.8);
}

.section-careers .thumbnailed-list .list-item.careers .expand li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

.section-careers .thumbnailed-list .list-item .bottom {
    bottom: 50%;
    margin-bottom: -50px;
}

.section-careers .question_mark,
.section-careers .thumbnailed-list .list-item .text > div {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.section-careers .content-card .thumbnailed-list .list-item .text > div.bottom {
    bottom: 0%;
    margin-bottom: 0px;
    height: 100%;
}

.section-careers .question_mark {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 170px !important;
    font-size: 150px;
    font-family: "Miso", sans-serif;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0;
}

.section-careers .content-card .thumbnailed-list .list-item {
    height: 170px;
}

.section-careers .thumbnailed-list .list-item.active .question_mark,
.section-careers .thumbnailed-list .list-item:hover .question_mark,
.section-careers .thumbnailed-list .list-item .text > div.bottom,
.section-careers .thumbnailed-list .list-item.active .text > div,
.section-careers .thumbnailed-list .list-item:hover .text > div {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.section-careers .thumbnailed-list .list-item.active .text > div.bottom,
.section-careers .thumbnailed-list .list-item:hover .text > div.bottom {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

body.section-careers #header.small {
    height: 80px;
}

.section-careers .content-card .content-container .content-main-column {
    padding-top: 26px;
    display: block;
    float: left;
    width: 74%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-careers .content-container .row:after {
    content: "";
    clear: both;
    display: block;
}

.section-careers .content-card .content-container .content-right-column {
    width: 26%;
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-careers .content-card .content-container {
    display: block;
    width: 100%: ;
}

.section-careers .video_thumbnailed.thumbnailed-list .list-item-container {
    margin: 0px;
}

.section-careers .video_thumbnailed.thumbnailed-list .row {
    margin: 0 -22px;
}

.section-careers .video_thumbnailed.thumbnailed-list .pure-u-lg-1-3 {
    float: left;
    padding: 0 22px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.section-careers .thumbnailed-list.video_thumbnailed .list-item .text .title {
    padding-right: 0;
    padding-left: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.section-careers .content-card {
    max-width: 1360px;
}

.section-careers .content-card .content-container .content-right-column > div .caption {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.section-careers .content-right-column .value {
    font-size: 16px;
}

.section-careers .content-card .content-container {
    padding: 50px 44px;
}

.section-careers .content-card .content-container .content-right-column > div {
    border-top: 1px solid #dddbd9;
}

.section-careers .content-card .content-container .content-right-column > div:first-child {
    padding-top: 0;
    border-top: 0;
}

.section-careers .content-card .content-container > .row {
    margin: 0 -22px;
}

.section-careers .content-card .content-container > .row > div {
    padding: 0px 22px;
}

.section-careers .content-right-column .value {
    color: #4ed8c3;
}

.section-careers .career_menu {
    text-align: center;
    position: relative;
    z-index: 2;
}

.section-careers .career_menu ul {
    display: inline-block;
    padding: 0;
}

.section-careers .career_menu li {
    display: inline-block;
    letter-spacing: 1px;
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 3%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-careers .career_menu li img {
    max-width: 34px;
}

.section-careers .career_menu li a {
    text-decoration: none! important;
    display: block;
}

.section-careers .social-sharing img {
    max-width: 46px;
}

.section-careers .social-sharing a {
    padding: 0 5px;
}

.section-careers .career_menu li .menu_title {
    white-space: nowrap;
    display: inline-block;
}

.section-careers .career_menu li a .arrow_down {
    display: inline-block;
    width: 34px;
    height: 34px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    -khtml-border-radius: 34px;
    border-radius: 34px;
}

.section-careers .career_menu li a .arrow_down {
    background: url(../img/arrow_down.png) no-repeat center 56%, #4ed8c3;
}

.section-careers .career_menu li p {
    color: #000;
}

.section-careers .career_menu li p.menu_title {
    color: #4ed8c3;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 145%;
    text-transform: uppercase;
}

.section-careers .top_block_fixed {
    position: fixed;
    width: 100%;
    display: block;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    left: 0;
    z-index: 999;
    height: 40px;
    top: 60px;
}

.section-careers .top_block_fixed ul {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-careers .top_block_fixed.career_menu li span,
.section-careers .top_block_fixed.career_menu li p {
    display: none;
}

.section-careers .top_block_fixed.career_menu li p.menu_title {
    display: block;
}

.section-careers .top_block_fixed.career_menu li a {
    padding: 9px 0;
}

a:focus {
    outline: none;
}

.section-careers .wrapper_block_previews .row > div.pure-u-1 {
    display: none;
}

.section-careers .wrapper_block_previews .endless_container,
.section-careers .wrapper_block_previews .row > div.pure-u-1:nth-of-type(1),
.section-careers .wrapper_block_previews .row > div.pure-u-1:nth-of-type(2),
.section-careers .wrapper_block_previews .row > div.pure-u-1:nth-of-type(3) {
    display: inline-block !important;
}

.section-careers .wrapper_block_previews.all_open .row > div {
    display: block !important;
}

.section-careers .wrapper_block_previews .load-more {
    display: inline-block;
    border: solid 2px gray;
    border-radius: 100px;
    padding: 4px 20px;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.09em !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.section-careers .wrapper_block_previews .load-more:hover {
    color: white;
    background-color: #4ed8c3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-color: #4ed8c3;
}

.section-careers .c-green-u-1.list-footer {
    clear: both;
    width: 100%;
}

.section-careers .thumbnailed-list .list-item .text .title {
    padding-bottom: 20px;
}

.section-careers .content-right-column img {
    max-width: 28px;
}

.section-careers .title-container .title {
    padding-top: 10px;
}

.section-careers .title-container .teaser {
    color: #000;
    padding: 10px 0;
}

.section-careers .title-container p {
    margin: 0;
}

.section-careers .smartembed h1 {
    font-size: 41px;
    margin: .67em 0 0.3em;
}

.section-careers .list-header .filters .filter-topic-text {
    font-size: 16px;
}

.section-careers .thumbnailed-list .list-header .filters img {
    height: 59px;
}

.section-careers .thumbnailed-list .list-header .filters {
    margin-bottom: 10px;
}

.section-careers .thumbnailed-list .list-header {
    margin-bottom: 20px;
}

.section-careers .career_menu li p.menu_title,
.section-careers .career_menu li p {
    font-size: 16px;
}

.section-careers .wrapper_block_previews .title_green {
    font-size: 22px;
}

.section-careers .career_menu .pure-g,
.section-careers .career_menu {
    font-family: "Ubuntu", sans-serif;
}

.section-careers .thumbnailed-list .list-footer {
    padding-top: 20px;
}

.section-careers .content-card .title-container .title {
    font-size: 48px;
    font-family: "Miso", sans-serif;
    font-weight: 700;
    padding-top: 20px;
}

.section-careers .content-card .title-container .teaser {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    padding: 6px 0 10px;
}

.section-careers .content-card .content-container .content-right-column img.button {
    max-width: 44px;
    width: 44px;
    height: 44px;
}

.section-careers .content-card .image-container {
    height: auto;
}

.thumbnailed-list .list-item.active .color,
.thumbnailed-list .list-item.active .date,
.thumbnailed-list .list-item.active .bottom {
    visibility: visible;
    opacity: 1;
}


/*search*/

.search_wrapper {
    background: #fff;
    max-width: 1362px;
    margin: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper .content-container {
    padding: 40px 0px;
}

.search_wrapper .content-container > .row > div {
    padding: 0 45px;
}

.search_preview p a,
.search_result_wrap .title a {
    color: #3e5fdb;
    text-decoration: none;
}

.search_preview p a:hover,
.search_result_wrap .title a:hover {
    text-decoration: underline;
}

.search_preview p {
    line-height: 1.9em !important;
    margin-bottom: 0;
}

.search_result_wrap .title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Miso", sans-serif;
    text-transform: uppercase;
    line-height: 1 !important;
    margin-bottom: 3px;
}

.date {
    color: #818181;
}

body.single .fake-padding {
    height: 80px;
}

#header.small {
    height: 80px;
}

#header .menu-bar {
    margin-top: 35px;
}

#header.small .logo .logo-el {
    height: 57px;
}

.search_img {
    width: 19%;
}

.search_preview {
    width: 81%;
}

.search_img img {
    max-width: 100%;
}

.search_result_wrap .row {
    margin: 0;
}

.search_result_wrap .row > div {
    padding: 0 10px;
    float: left;
}

.search_result_wrap .row {
    margin: 0 -10px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.search_wrapper.content-card .content-container {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper.content-card .content-container .content-main-column {
    padding-top: 26px;
    padding: 0 0 0 45px;
    display: block;
    float: left;
    width: 75%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper.content-card .content-container .content-right-column {
    width: 25%;
    float: right;
    padding: 0 45px;
    display: block;
    /*    float: left;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper .row {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper .row > div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.result_title {
    color: #828282;
    font-size: 14px;
    margin-bottom: 50px;
}

.search_result_wrap .result_block {
    margin-bottom: 50px;
}

.search_wrapper.content-card .content-container .content-right-column > div .caption {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.search_wrapper.content-card .content-right-column .value {
    font-size: 16px;
}

.search_wrapper.content-card .content-container {
    padding: 50px 44px;
}

.search_wrapper.content-card .content-container .content-right-column > div {
    border-top: 1px solid #dddbd9;
}

.search_wrapper.content-card .content-container .content-right-column > div:first-child {
    padding-top: 0;
    border-top: 0;
}

.search_wrapper.content-card .content-container > .row {
    margin: 0 -22px;
}

.search_wrapper.content-card .content-container > .row > div {
    padding: 0px 22px;
}

.search_wrapper.content-card .content-container .content-right-column .filters {
    text-align: center;
}

.search_wrapper.content-card .content-container .content-right-column .filters img {
    max-width: 48px;
    width: 100%;
    height: auto;
}

.search_wrapper.content-card .content-container .content-right-column .filters .filter-topic-image {
    display: inline-block;
    padding: 0 5px;
}

.filter_search {
    border: 1px solid #d8d8d8;
    background: url(../img/search.png) no-repeat 15px center;
    display: inline-block;
    margin-top: 4px;
    padding: 0;
    margin-bottom: 8px;
    height: 28px;
    border-radius: 28px;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 216px;
}

.filter_search:invalid,
.filter_search:active,
.filter_search:focus {
    background: none;
}

input:focus {
    outline: none;
}

.filter-topic-text.blue_text {
    color: #3e5fdb !important;
    font-weight: 700;
}

.empty_field {
    background: none;
}

.search_wrapper .content-container {
    min-height: 600px;
}

.content-search-column {
    left: 75%;
}

.content-main-column {
    right: 25%;
}

.search_head {
    position: fixed;
    z-index: 999;
    top: 28px;
    left: 96px;
}

.search_head a {
    width: 21px;
    height: 21px;
    display: block;
    background: url(/static/img/search_head_grey.png);
}

.search_head_right {
    position: fixed;
    z-index: 999;
    top: 25px;
    right: 311px;
}

.search_head a,
.search_head_right a {
    width: 21px;
    height: 21px;
    display: block;
    background: url(/static/img/search_head_grey.png);
    padding: 0;
}

.small .search_head {
    display: block;
}

.small .search_head_right {
    display: none;
}

.to_top {
    position: absolute;
    width: 33px;
    display: inline-block;
    height: 18px;
    right: 110px;
    bottom: 30px;
    background: url(/static/img/anchor.png);
}

.select_language {
    position: absolute;
    top: 18px;
    padding: 0 26px;
    width: auto;
    right: 96px;
}

.lang_btn {
    display: inline-block;
    border-radius: 100px;
    font-size: 16px;
    width: 126px;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 9999;
    color: #000000;
    /*border: 2px solid #000;*/
    background: #fff;
}


/*.small .lang_btn{
  color: #fff;
  border: 2px solid #7a91e6;
  background: #fff;
  opacity:1;
}*/

.lang_btn span {
    margin-left: 15px;
    width: 0;
    position: relative;
    top: -3px;
    display: inline-block;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #a3a3a3 transparent transparent transparent;
}


/*.small .lang_btn span{
  border-color: #fff transparent transparent transparent;
}*/

.sp-links_wrap {
    overflow: hidden;
    border-radius: 18px;
}

.select_language .sp-links {
    width: 158px;
    display: none;
    overflow-x: visible !important;
    overflow-y: scroll;
    background: #fff;
    color: #000;
    max-height: 130px;
    position: relative;
    border: none;
    border-top: 2px solid #000;
}

.sp-links_wrap {
    overflow: hidden;
    opacity: 0.5;
    border: 2px solid #000;
}

.small .sp-links_wrap {
    border: 2px solid #fff;
}

.small .lang_btn {
    color: #fff;
    background: none;
}

.small .lang_btn span {
    border-color: #fff transparent transparent transparent;
}

.small .sp-links {
    border-top: 2px solid #fff;
}

.section-news .small .lang_btn,
.homepage .small .lang_btn {
    color: #000;
    background: none;
}

.section-news .small .sp-links,
.homepage .small .sp-links {
    border-top: 2px solid #000;
}

.section-news .small .sp-links_wrap,
.homepage .small .sp-links_wrap {
    border: 2px solid black;
}

.homepage .small .lang_btn span,
.section-news .small .lang_btn span {
    margin-left: 15px;
    width: 0;
    position: relative;
    top: -3px;
    display: inline-block;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #a3a3a3 transparent transparent transparent;
}

.section-news .small .select_language .sp-links {
    background: #3e5fdb;
}

.select_language .sp-links a {
    color: #000;
    text-decoration: none;
}

.small .select_language .sp-links a {
    color: #fff;
}

.small .select_language .sp-links a:hover,
.small .select_language .sp-links a.is-selected {
    color: #000;
}

.section-news .select_language .sp-links a:hover,
.section-news .select_language .sp-links a.is-selected {
    color: #3e5fdb;
}

.section-news .small .select_language .sp-links a:hover,
.section-news .small .select_language .sp-links a.is-selected {
    color: #000;
}

.sp-menu-vertical a {
    display: block;
}


/*
.section-news .lang_btn {
    background: #3e5fdb;
}*/

#header .slogan {
    font-size: 34px;
}

body.homepage #header .logo {
    margin-top: 8px;
    margin-bottom: 0;
}

#header .logo .logo-el {
    height: 85px;
    width: 100%;
}

body.homepage #header .logo .logo-el {
    height: 183px;
    width: 267px;
}

body.homepage #header .sp-links a {
    color: #000;
}

body.homepage #header .sp-links .is-selectedб body.homepage #header .sp-links a:hover {
    color: #000;
}


/*search*/


/*all site*/

#header {
    background: url(/static/img/news_head2.png) no-repeat right 25px, url(/static/img/news_dote.png) no-repeat center top, #fff;
}

.homepage #header {
    background: url(/static/img/mainpage_1.png) no-repeat right top, url(/static/img/mainpage_dote.png) no-repeat center top, #fff;
}

.section-news #header.small,
.homepage #header.small {
    background: #fff;
}

.#header .menu-bar {
    margin-top: 40px;
}

.sp-links:first-child {
    margin-top: 0;
}

body.homepage #header.small .logo .logo-el {
    height: 54px;
}

.homepage #subscribe .line1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage #subscribe .line2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.homepage #mc_embed_signup form {
    width: 100%;
    max-width: 684px;
    margin: auto;
}

.homepage #mc_embed_signup .mc-field-group {
    max-width: 100%;
    border: solid 4px white;
}

.homepage #mc_embed_signup .mc-field-group input {
    font-size: 14px;
}

.homepage #mc_embed_signup .row {
    margin: 0 -17px;
}

.homepage #mc_embed_signup .row > div {
    padding: 0px 17px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3%;
    float: left;
}

.homepage #mc_embed_signup .row > div.w50 {
    width: 50%;
}

#mc_embed_signup .white_btn {
    background: rgba(255, 255, 255, 0.75);
    max-width: 320px !important;
    color: #000;
    text-transform: uppercase;
}

#mc_embed_signup .white_btn input {
    text-transform: uppercase;
}

#subscribe .subscribe-container-2 {
    margin: 0;
    padding: 50px 0;
}

#subscribe .subscribe-container-2 {
    display: table;
    overflow: hidden;
    position: relative;
    height: 184px;
    width: 100%;
    background: none;
}

.subscribe-container-3 {
    position: relative;
    z-index: 10;
}

#subscribe .subscribe-container-2:after {
    background: rgba(62, 95, 219, 0.9);
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1300px;
    content: "";
    display: block;
    -o-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -webkit-transform: rotate(73deg);
    transform: rotate(73deg);
    margin-top: -650px;
}

.content-page .title {
    font-family: "Miso", sans-serif;
    font-size: 41px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-skills .small .select_language .sp-links,
body.section-skills #header.small {
    background: #52c36f;
}

.section-activities .small .select_language .sp-links,
body.section-activities #header.small {
    background: #9d59e4;
}

.section-games .small .select_language .sp-links,
body.section-games #header.small {
    background: #f9b653;
}

.section-scoops .small .select_language .sp-links,
body.section-scoops #header.small {
    background: #ed3b5a;
}

.section-careers .small .select_language .sp-links,
body.section-careers #header.small {
    background: #4ed8c3;
}

#menu-language {
    display: none;
}

.smartembed p {
    line-height: 190%;
}

/*.know_us {
    background: url(/static/img/know_us.png) no-repeat 50% 190px;
}*/

.know_us_block1 {
    background: url(/static/img/know_us_block1.png) no-repeat 50% bottom;
}

.know_us_block2 {
    background: url(/static/img/know_us_block2.png) no-repeat 50% #f3f3f3;
}

.page-about-categories .smartembed p {
    text-align: center;
}

.search_head{
    border: 2px solid rgba(0,0,0,0);
    width: 28px;
    position: absolute;
    height: 20px;
    padding: 3px 0px 3px 35px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    left: 3%;
}


.search_head a{
    position: absolute;
}

.search_head input{
    width: 0%;
    border: none;
}

.search_head.open input{
    width: 100%;
    
    /*float: left;*/
}

.search_head .search_btn{
    left: 5px;
    top: 3px;
    width: 21px;
    background-size: 100%;
    height: 21px;
}

.search_head .close_search{
    display: none;
}

.search_head.open .close_search{
    right: 5px;
    top: 2px;
    width: 21px;
    display: inline-block;
    background-size: 100%;
    height: 21px;
    background: url(/static/img/close_search.png) no-repeat center;
    float: right;
}

.search_head.open{
    border: 2px solid rgba(0,0,0,0.3);
    position: absolute;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 7%;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    padding: 3px 35px;
    height: 20px;
}



/*all site*/


/*body.section-careers #header.small{
  height: 80px;
}

#header .menu-bar a{
      font-size: 1.3em;
}*/


/* --- section-careers ---*/

@media screen and (max-width: 1755px) {
    #header .menu-bar > div.menu-bar-right {
      padding-left: 130px;
    }
    #header .menu-bar > div.menu-bar-left {
      padding-right: 130px;
    }
    #header .menu-bar a {

      margin: 2em 1em;
  }
}

@media screen and (max-width: 1555px) {
    body.homepage #header .logo .logo-el {
        height: 100px;
        margin-bottom: 20px;
    }
    .search_head_right + .sp-links_wrap,
    .search_head_right {
        display: none;
    }
    #menu-language {
        display: block;
    }
    #menu-language1 {
        display: none;
    }
     .search_head{
        left: 1%;
        width: 5% !important;
    }
}

@media screen and (max-width: 1300px) {
    .small .search_head,
    .search_head {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #header .slogan {
        opacity: 0;
    }
    body.homepage #header .logo .logo-el {
        height: 70px;
    }
    #header {
        background: url(/static/img/news_dote.png) no-repeat center top, #fff;
    }
    .homepage #header {
        background: url(/static/img/mainpage_dote.png) no-repeat center top, #fff;
    }
}

@media screen and (max-width: 992px) {
    .section-careers .career_menu li {
        padding: 0;
    }
    .section-careers .career_menu li p.menu_title,
    .section-careers .career_menu li p {
        font-size: 14px;
    }
    .search_img {
        width: 32%;
    }
    .search_preview {
        width: 68%;
    }
    #subscribe .subscribe-container-3 {
        padding: 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .section-careers .thumbnailed-list .list-header .filters .filter-topic-image {
        padding: 0 3%;
    }
    .section-careers .top_block_fixed {
        position: relative;
        width: 100%;
        display: block;
        background: none;
        box-shadow: none;
        left: 0;
        z-index: 2;
        height: auto;
        top: auto;
    }
    .section-careers .wrapper_block_previews {
        margin-bottom: 60px;
    }
    .section-careers .wrapper_block_previews > .title {
        margin: 0;
    }
    .section-careers .career_menu {
        display: none
    }
    .section-careers .content-card .content-container .content-right-column,
    .search_wrapper.content-card .content-container .content-right-column,
    .search_wrapper.content-card .content-container .content-main-column,
    .section-careers .content-card .content-container .content-main-column {
        width: 100%;
    }
    .page-about-categories > div{
        padding: 0;
    }
    .page-about-categories > div img{
        .position: relative;
        height: 100px;
        width: 100px;
        margin: auto;
    }
}


@media screen and (max-width: 600px) {
    .search_wrapper.content-card .search_preview,
    .search_wrapper.content-card .search_img {
        width: 100%;
        margin-bottom: 20px;
    }
    .search_wrapper.content-card .search_preview p {
        word-wrap: break-word;
    }
    .homepage #mc_embed_signup .row > div {
        width: 100%;
    }
    #subscribe .subscribe-container-2:after {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .to_top {
        right: 39px;
        bottom: 21px;
    }
}

@media screen and (max-width: 450px) {
    .thumbnailed-list .list-header .filters .filter-topic-image{
        width: 33.3%;
        margin-bottom: 10px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding: 0 10px;
        text-align: center;
    }
}