{% load staticfiles thumbnail %}

{% thumbnail object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as thumb %}
    <li><div class="list-item-container">
        <div class="list-item games" style="background-image:url({{ thumb.url }});" aria-haspopup="true">
            <div class="link-container">
                <a href="{% url 'games:detail' slug=object.slug %}">
					<div class="color"></div>
					<div class="color-black"></div>
					<div class="text">
						<div class="date"><!-- {{ object.release_date|date:"DATE_FORMAT" }} --></div>
						<div class="title">{{ object.title }}</div>
						<div class="theme">{% include 'categories/categories_icons.html' %}</div>
						<div class="bottom">
							<div class="expand"><img src="{% static 'img/icon_plus.svg' %}"></div>
						</div>
					</div>
                </a>
            </div>
        </div>
    </div></li>
{% endthumbnail %}

