{% extends 'base.html' %}
{% load staticfiles thumbnail smartpages i18n %}

{% block site_title %}{% trans SECTIONS.games.title %} | Space Awareness {% endblock %}

{% block extra_body_class %}section-games{% endblock %}

{% block slogan %}
<div class="slogan subtitle">{{ SECTIONS.games.title }}</div>
<div class="slogan">{{ SECTIONS.games.subtitle }}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script src="{% static 'js/scripts.topbar.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="cover" class="">
        <div class="feature-container">
            <div class="fake-padding"></div>
            <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-timeout="5000">
                <nav class="cycle-pager"></nav>

    {% for object in object_list|slice:":4" %}
        {% thumbnail object.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}    
                <div class="feature" style="background-image: url({% static 'img/line_pattern_04.png' %}),  url({{ im.url }});">
                    <a href="{% url 'games:detail' slug=object.slug %}">
                        <div class="title-container"><div class="title-subcontainer">
                            <div class="title">{{ object.title }}</div>
                            <div class="subtitle">{{ object.teaser }}</div>
                        </div></div>
                    </a>
                </div>
        {% endthumbnail %}
    {% endfor %}

                <nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="{% static 'img/buttons/arrow_down_white.svg' %}"></a></nav>
            </div>
        </div>
    </div>
    <div id="list" class="thumbnailed-list games page2 snap pure-g">
    	<div id="main"></div>
        <div class="pure-u-1 text-content smartembed">
            {% smartembed 'section-games-intro' %}
            <p>&nbsp;</p>
            <p><a href="https://issuu.com/unawe/docs/citizen_science_booklet/1?e=2518028/34581362" target="_blank">MISSION: SPACE EXPLORER</a></p>
            <p>The online booklet with apps and projects for Space Exploration</p>
        </div>

        <div class="pure-u-1 list-header">
            <div class="title">{% trans "find by category" %}</div>
            <div class="filters">
                <div class="filter-topic-text"><a class="selected" href="/games/">{% trans "all" %}</a></div>
            </div>
            <div class="filters">
                <div class="filter-topic-image"><a href="/games/category/space/"><div><img src="{% static 'img/icons/categories/icon_space_orange.svg' %}" /></div><div>{{ CATEGORIES.space.filter_description }}</div></a></div>
                <div class="filter-topic-image"><a href="/games/category/earth/"><div><img src="{% static 'img/icons/categories/icon_earth_orange.svg' %}" /></div><div>{{ CATEGORIES.earth.filter_description }}</div></a></div>
                <div class="filter-topic-image"><a href="/games/category/navigation/"><div><img src="{% static 'img/icons/categories/icon_navigation_orange.svg' %}" /></div><div>{{ CATEGORIES.navigation.filter_description }}</div></a></div>
                <div class="filter-topic-image"><a href="/games/category/heritage/"><div><img src="{% static 'img/icons/categories/icon_heritage_orange.svg' %}" /></div><div>{{ CATEGORIES.heritage.filter_description }}</div></a></div>
            </div>
        </div>

    {% include page_template with item_count=9 %}

    </div>

{% endblock %}
