{% extends 'base.html' %}
{% load staticfiles thumbnail i18n %}

{% block site_title %}{{ object.title }} | {% trans SECTIONS.games.title %} | Space Awareness {% endblock %}

{% block extra_body_class %}section-games single{% endblock %}

{% block extra_header_class %}small{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:description" content="{{ object.teaser }}" />
{% thumbnail object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as im %}
<meta property="og:image" content="{{ SITE_URL }}{{ im.url }}" />
{% endthumbnail %}
{% endblock %}


{% block content %}
    <div class="content-card">
        <div class="fake-padding"></div>

        <div class="title-container">
            <div class="title">{{ object.title }}</div>
            <div class="date">{{ object.teaser }}</div>
        </div>
    {% thumbnail object.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
        <div class="image-container" style="background-image: url({{ im.url }})"></div>
    {% endthumbnail %}
        <div class="content-container">
            <div class="content-main-column">

                <div class="section-content">{{ object.story|safe }}</div>

            </div>
            <div class="content-right-column">
                <div>
                    <img id="facebook" class="button" data-url="{{ SITE_URL }}{% url 'games:detail' slug=object.slug %}" src="{% static 'img/icons/social/icon_sm_facebook_b.svg' %}" />
                    <img id="twitter" class="button" data-url="{{ SITE_URL }}{% url 'games:detail' slug=object.slug %}" src="{% static 'img/icons/social/icon_sm_twitter_b.svg' %}" />
                </div>
                <div>
                    <div class="caption">{% trans "go to the activity" %}</div>
                    <div class="value">{% for link in object.links_list %}<a href="{{ link.url }}">{{ link.caption }}</a> {% endfor %}</div>
                </div>
                <div>
                    <div class="caption">{% trans "difficulty level" %}</div>
                    <div class="value">{{ object.difficulty }}</div>
                </div>
                <div>
                    <div class="caption">{% trans "fun level" %}</div>
                    <div class="value">{{ object.fun }}</div>
                </div>
                <div>
                    <div class="caption">{% trans "type" %}</div>
                    <div class="value">{% for x in object.game_type %} {{ x }} {% endfor %}</div>
                </div>
                <div>
                    <div class="caption">{% trans "languages" %}</div>
                    <div class="value">{% for x in object.languages %} {% trans x %} {% endfor %}</div>
                </div>
                <div>
                    <div class="caption">{% trans "platform" %}</div>
                    <div class="value">{% for x in object.platform %} {{ x }} {% endfor %}</div>
                </div>
            </div>
        </div>
        
        <div class="more-container-header pure-g">
            <div class="pure-u-1 list-header">
                <div class="title">{% trans "related resources" %}</div>
            </div>
            <div class="pure-u-1 list-header-padding"></div>
        </div>

        <div class="thumbnailed-list more-container-list pure-g">
        	<div class="padded-h">
        		<ol class="padded-list">
			{% for item in random|slice:":3" %}
				{% thumbnail item.object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as thumb %}
					<li class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3"><div class="list-item-container">
						<div class="list-item {{ item.section }}" style="background-image:url({{ thumb.url }});" aria-haspopup="true">
							<div class="link-container">
								<a href="{{ item.url }}">
									<div class="color"></div>
									<div class="color-black"></div>
									<div class="text">
										<div class="date">{{ item.object.release_date|date:"DATE_FORMAT" }}</div>
										<div class="title">{{ item.object.title }}</div>
										<div class="theme">{% include 'categories/categories_icons.html' %}</div>
										<div class="bottom">
											<div class="expand"><img src="{% static 'img/icon_plus.svg' %}"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div></li>
				{% endthumbnail %}
			{% endfor %}
				</ol>
				<div style="clear:both;"></div>
			</div>

        </div>
    </div>


{% endblock %}
