{% extends 'base.html' %} {% load staticfiles thumbnail i18n markdown relativise_img_src %}
{% block site_title %}{{ object.title }} | {% trans SECTIONS.news.title %} | Space Awareness {% endblock %}
{% block extra_body_class %}section-home single{% endblock %}
{% block extra_header_class %}small{% endblock %}
{% block extra_head %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:description" content="{{ object.teaser }}" /> {% thumbnail object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as im %}
<meta property="og:image" content="{{ SITE_URL }}{{ im.url }}" /> {% endthumbnail %}
{% endblock %}

{% block content %}
    <div class="search_wrapper content-card">
        <div class="fake-padding"></div>
        {% if filters %}
        <div class="selected-filters">
            {% for sf in filters %}
                <div class="selected-filter" id="div-{{ sf.0 }}-{{ sf.1 }}" {% if not sf.3 %}hidden{% endif %}>
                    <div>
                        <label for="{{ sf.0 }}-{{ sf.1 }}">{{ sf.2 }}</label>
                        <input type="checkbox" form="search_form" id="input-{{ sf.0 }}-{{ sf.1 }}"
                               name="{{ sf.0 }}" value="{{ sf.1 }}" {% if sf.3 %}checked{% endif %} hidden />
                    </div>
                    <div class="close-button" id="close-{{ sf.0 }}-{{ sf.1 }}">X</div>
                </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if search_results %}
        <div class="title-container">
            <h1 class="title">{% trans "Search results" %}</h1>
        </div>
        {% endif %}

        <div class="content-container">
            <div class="content-main-column">
                <ol class="padded-list list-1col">

					{% for result in search_results %}
					<li class="row result_block">
						<div class="search_img">
						{% thumbnail result.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as thumb %}
							<a href="{{ result.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ result.title|truncatechars:20 }}" /></a>
						{% endthumbnail %}
						</div>

                        <div class="search_preview">
							<p class="title"><a class="search" href="{{ result.get_absolute_url }}">{{ result.title|truncatechars:50 }}</a></p>
							<p><strong>{{ result.release_date }}</strong> {{ result.teaser }}</p>
                        </div>
                    </li>
					{% endfor %}
                </ol>

            </div>
            <div id="search_filters" class="content-search-column content-right-column">
            	<div>
                    <div class="caption" >{% trans "Search" %}</div>
                    <form id="search_form" action="{% url 'search:search' %}" method="GET" class="search-form">
                        <input type="text" name="q" class="filter_search" value="{{ query }}" />
                        <input type="submit" value="{% trans "Search" %}"/>
                    </form>
                </div>
                <div id="section" class="with-border search-filters">
                    <div class="caption">Section</div>
                    <div class="pure-menu pure-menu-horizontal parent-menu-list">
                        <ul class="pure-menu-list search-filter-parent-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover blue_text">
                                <span class="pure-menu-link blue_text">{% trans "All" %}</span>
                                <ul class="pure-menu-children search-filter-list" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
                                    {% for section in SECTIONS %}
                                        <li id="section-{{ section }}" class="pure-menu-item">{{ section.title }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div  id="topic" class="with-border search-filters">
                    <div class="caption">{% trans "Topic" %}</div>
                    <div class="filters">
                        <div class="filter-topic-text blue_text">{% trans "All" %}</div>
                    </div>
                    <ul class="categories-filters">
                    {% for c in CATEGORIES %}
                        <li id="category-{{ c }}" class="category-filter">
                            {% with 'img/icons/categories/icon_'|add:c|add:'_blue.svg' as image_name %}
                                <img src="{% static  image_name %}" />
                            {% endwith %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div id="level" class="with-border search-filters">
                    <div class="caption">{% trans "Level" %}</div>
                    <div class="pure-menu pure-menu-horizontal parent-menu-list">
                        <ul class="pure-menu-list search-filter-parent-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover blue_text">
                                <span class="pure-menu-link blue_text">{% trans "All" %}</span>
                                <ul class="pure-menu-children search-filter-list" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
                                    {% for l in level %}
                                    <li id="level-{{ l.code }}" class="pure-menu-item">{% trans l.title %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="kind" class="with-border search-filters">
                    <div class="caption">{% trans "Kind" %}</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover blue_text">
                                <span class="pure-menu-link blue_text">{% trans "All" %}</span>
                                <ul class="pure-menu-children search-filter-list" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
                                    {% for l in learning %}
                                    <li id="learning-{{ l.code }}" class="pure-menu-item">{% trans l.title %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="time" class="with-border search-filters">
                    <div class="caption">{% trans "Time" %}</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover blue_text">
                                <span class="pure-menu-link blue_text">{% trans "All" %}</span>
                                <ul class="pure-menu-children search-filter-list" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
                                    {% for t in time %}
                                    <li id="time-{{ t.code }}" class="pure-menu-item">{% trans t.title %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="cost" class="with-border search-filters">
                    <div class="caption">{% trans "Cost" %}</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover blue_text">
                                <span class="pure-menu-link blue_text">{% trans "All" %}</span>
                                <ul class="pure-menu-children search-filter-list" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
                                    {% for c in cost %}
                                    <li id="cost-{{ c.code }}" class="pure-menu-item">{% trans c.title %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- <a href="/search/?models=Article,Interview&q=word1 word2&page=1">/search/?models=Article,Interview&q=word1 word2&page=1</a><br>

{% for result in search_results %}
<a href="{{ result.get_absolute_url }}">{{ result.title }}</a><br>
{{ result.story|safe }}<br>
{% endfor %}

{% for page in pages %}
{{ page }},
{% endfor %}
 -->
