{% extends 'base.html' %} {% load staticfiles thumbnail i18n markdown relativise_img_src %}
{% block site_title %}{{ object.title }} | {% trans SECTIONS.news.title %} | Space Awareness {% endblock %}
{% block extra_body_class %}section-home single{% endblock %}
{% block extra_header_class %}small{% endblock %}
{% block extra_head %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:description" content="{{ object.teaser }}" /> {% thumbnail object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as im %}
<meta property="og:image" content="{{ SITE_URL }}{{ im.url }}" /> {% endthumbnail %}
{% endblock %}

{% block content %}
    <div class="search_wrapper content-card">
        <div class="fake-padding"></div>

        <div class="title-container">
            <h1 class="title">{% trans "Search results" %}</h1>
        </div>


        <div class="content-container">
            <div class="content-main-column">
                <ol class="padded-list list-1col">

					{% for result in search_results %}
					<li class="row result_block">
						{% thumbnail result.main_visual THUMBNAIL_ALIASES.spread crop="center" as thumb %}
						<div class="search_img">
							<a href="{{ result.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ result.title|truncatechars:20 }}" /></a>
						</div>
						{% endthumbnail %}
						<div class="search_preview">
							<p class="title"><a href="{{ result.get_absolute_url }}">{{ result.title|truncatechars:50 }}</a></p>
							<p><strong>{{ result.release_date }}</strong> {{ result.teaser }}</p><!--|truncatewords_html:10-->
                            <p><a href="{{ result.get_absolute_url }}">{{ result.get_absolute_url }}</a></p>
                        </div>
                    </li>
					{% endfor %}

					<!--  <div class="row result_block">
                        <div class="search_img ">
                            <a href=""><img src="/static/img/cover/about.jpg" alt=""></a>
                        </div>
                        <div class="search_preview">
                            <p class="title"><a href="">Our Galaxy Is Young At Heart</a></p>
                            <p><span class="date">2 November 2015</span> - If you stand in a very dark spot on a moonless night, you might see a faint fuzzy glow stretching across the sky, with a glowing milky-white bul...</p>
                            <p><a href="">http://www.space-awareness.org/spacescoops/ourgalaxy…</a></p>
                        </div>
                    </div> -->
                  
                </ol>

            </div>
            <!-- <div class="result_title">Approximately 278,000 results (0.44 seconds)</div> -->
            <div class="content-search-column content-right-column">
            	<div>
                    <div class="caption" >{% trans "Search" %}</div>
                    <form action ="/search/" method="GET" class="search-form">
                        <input type="text" name="q" class="filter_search" value="{{ query }}" />
                        <input type="submit" value="{% trans "Search" %}" title="{% trans "Search" %}" />
                    </form>
                </div>



               <!--  <div>
                    <div class="caption">Topic</div> 
                    <div class="filters">
                        <div class="filter-topic-text blue_text">{% trans "All" %}</div>
                    </div>
                    <div class="filters">
                        <div class="filter-topic-image">
                            <a href="/careers/category/earth/">
                                <div><img src="{% static 'img/icons/categories/icon_space_blue.svg' %}" /></div>
                            </a>
                        </div>
                        <div class="filter-topic-image">
                            <a href="/careers/category/navigation/">
                                <div><img src="{% static 'img/icons/categories/icon_earth_blue.svg' %}" /></div>
                            </a>
                        </div>
                        <div class="filter-topic-image">
                            <a href="/careers/category/space/">
                                <div><img src="{% static 'img/icons/categories/icon_navigation_blue.svg' %}" /></div>
                            </a>
                        </div>
                        <div class="filter-topic-image">
                            <a href="/careers/category/heritage/">
                                <div><img src="{% static 'img/icons/categories/icon_heritage_blue.svg' %}" /></div>
                            </a>
                        </div>


                    </div>
                </div> -->
              <!--   <div>
                    <div class="caption">Section</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">All</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='pre' %}" class="pure-menu-link">{% trans "Pre-school" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='primary' %}" class="pure-menu-link">{% trans "Primary School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='middle' %}" class="pure-menu-link">{% trans "Middle School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='secondary' %}" class="pure-menu-link">{% trans "Secondary School" %}</a></li>
                    
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='informal' %}" class="pure-menu-link">{% trans "Informal" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="caption">Kino</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">All</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='pre' %}" class="pure-menu-link">{% trans "Pre-school" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='primary' %}" class="pure-menu-link">{% trans "Primary School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='middle' %}" class="pure-menu-link">{% trans "Middle School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='secondary' %}" class="pure-menu-link">{% trans "Secondary School" %}</a></li>
                            
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='informal' %}" class="pure-menu-link">{% trans "Informal" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="caption">Time</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">All</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='pre' %}" class="pure-menu-link">{% trans "Pre-school" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='primary' %}" class="pure-menu-link">{% trans "Primary School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='middle' %}" class="pure-menu-link">{% trans "Middle School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='secondary' %}" class="pure-menu-link">{% trans "Secondary School" %}</a></li>
                                    
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='informal' %}" class="pure-menu-link">{% trans "Informal" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="caption">Cost</div>
                    <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">All</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='pre' %}" class="pure-menu-link">{% trans "Pre-school" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='primary' %}" class="pure-menu-link">{% trans "Primary School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='middle' %}" class="pure-menu-link">{% trans "Middle School" %}</a></li>
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='secondary' %}" class="pure-menu-link">{% trans "Secondary School" %}</a></li>
                                   
                                    <li class="pure-menu-item"><a href="{% url 'activities:list_by_level' level='informal' %}" class="pure-menu-link">{% trans "Informal" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

{% endblock %}
<!-- <a href="/search/?models=Article,Interview&q=word1 word2&page=1">/search/?models=Article,Interview&q=word1 word2&page=1</a><br>

{% for result in search_results %}
<a href="{{ result.get_absolute_url }}">{{ result.title }}</a><br>
{{ result.story|safe }}<br>
{% endfor %}

{% for page in pages %}
{{ page }},
{% endfor %}
 -->
