{% extends 'base.html' %}
{% load staticfiles thumbnail smartpages i18n static %}
{% load available_languages %}
{% block extra_body_class %}section-careers{% endblock %}

{% block slogan %}
<div class="slogan subtitle">{{ SECTIONS.careers.title }}</div>
<div class="slogan">{{ SECTIONS.careers.subtitle }}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}<!--<script src="{% static 'js/jQueryRotate.js' %}"></script>-->{% endblock %}

{% block content %}

<div id="cover">
  <div class="feature-container">
    <div class="fake-padding"></div>
    <div class="feature" style="background-image: url(/static/img/line_pattern_04.png), url(/static/img/cover/earth.jpg);">
      <div class="title-container">
        <div class="title-subcontainer">
      <div class="title">
          Understand the opportunities in space exploration and the career potential it offers.
      </div>
    </div>
      </div>
    </div>
    <nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="/static/img/buttons/arrow_down_white.svg"></a></nav>
  </div>
</div>

<div class="thumbnailed-list careers page2 snap pure-g smartembed">

    <div id="main" class="anchor"></div>

        <div class="pure-u-1 list-header">
        <h1>{% trans "Find by topic" %}</h1>
        <div class="filters">
            <div class="filter-topic-text"><a class="selected" href="/activities/">{% trans "all" %}</a></div>
        </div>
        {% include "filters.html"  with page_name_filter="careers:list_by_category" %}
    </div>

    <div class="career_menu horizontal-jump-menu padded">
        <ul class="list-4col">
            <li>
                <a href="#interviews_menu">
                    <p class="menu_title">{% trans "Interviews" %}</p>
                    <p>{% trans "What is it like to have a space-related job?" %}</p>
                    <span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#careers_menu">
                    <p class="menu_title">{% trans "Careers" %}</p>
                    <p>{% trans "It is not all about becoming an astronaut!" %}</p>
                    <span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#webinars_menu">
                    <p class="menu_title">{% trans "Webinars" %}</p>
                    <p>{% trans "Watch live talks about space sciences" %}</p>
                    <span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#teaching_material_menu">
                    <p class="menu_title">{% trans "Teaching material" %}</p>
                    <p>{% trans "Find career activities for students, download and print material on space careers" %}</p>
                    <span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>


<div id="list" class="thumbnailed-list careers page2 snap pure-g">

    {%  if booklet %}
    <div id="booklet" class="wrapper_block_previews padded-h">
        <h2 class="title">{{  booklet.title }}</h2>
        <h3 class="title_green">{{ booklet.teaser }}</h3>
        {% thumbnail booklet.main_visual "600" crop="noop" as im %}
            <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
        {% endthumbnail %}
        <div class="download-booklet">
            <form action="{% url 'careers:booklet-download' booklet.slug %}" method="post">
                {% csrf_token %}
                {% item_languages booklet LANGUAGE_CODE %}
                <input id="left-search-submit" type="submit" value="{% trans "Download" %}" />
            </form>
        </div>
        <div class="booklet-extra" id="booklet-extra">
            <div class="close-button">
                <a href="#booklet"><img src="/static/img/buttons/plus_button_develope.svg" width="25px" id="close-icon"
                 onclick="$('#booklet-extra').toggle('slow');$('#sp-show-more').show();">
                </a>
            </div>
            {{ booklet.story | safe }}
        </div>

        <div class="extra">
            <a href="#booklet-extra" id="sp-show-more" onclick="$('#booklet-extra').toggle('slow');$(this).hide();"
               class="call-to-action">{% trans "Show more" %}</a>
        </div>
    </div>
    {%  endif %}

<!-- Interviews -->
	<div id="interviews_menu" class="wrapper_block_previews">
        <h2 class="title">{% trans "Interviews" %}</h2>
        <h3 class="title_green">{% trans "What is it like to have a space-related job?" %}</h3>
        <div class="row">
			{% include 'interviews/interview_list_page.html' %}
	    </div>
	</div>

<!-- end Interviews -->

<!-- Careers -->
	<div id="careers_menu" class="wrapper_block_previews">
        <h2 class="title">{% trans "Careers" %}</h2>
        <h3 class="title_green">{% trans "It is not all about becoming an astronaut!" %}</h3>
        <div class="row">
	        {% include 'careers/career_list_page.html' %}
	    </div>
	</div>
<!-- Careers -->

<!-- Webinars -->
<div id="webinars_menu" class="wrapper_block_previews">
        <h2 class="title">{% trans "Webinars" %}</h2>
        <h3 class="title_green">{% trans "Watch live talks about space sciences" %}</h3>
        <div class="row">
	        {% include 'webinars/webinar_list_page.html' %}
		</div>
	</div>

<!-- Webinars -->

<!-- Teaching material -->
<div id="teaching_material_menu" class="wrapper_block_previews">
        <h2 class="title">{% trans "Teaching materials"%}</h2>
        <h3 class="title_green">{% trans "Find career activities for students, download and print material on space careers" %}</h3>
        <div class="row">
	        {% include 'teaching_material/teaching_material_list_page.html' %}
		</div>
	</div>
</div>
<!-- Teaching material -->
{% endblock %}
