{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles thumbnail i18n %}
 {% load staticfiles thumbnail smartpages i18n%}

{% block extra_body_class %}section-careers{% endblock %}

{% block slogan %}
<div class="slogan subtitle">{{ SECTIONS.careers.title }}</div>
<div class="slogan">{{ SECTIONS.careers.subtitle }}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script src="{% static 'js/jQueryRotate.js' %}"></script>
{% endblock %}

{% block content %}

	<div id="cover">
	  <div class="feature-container">
		<div class="fake-padding"></div>
		<div class="feature" style="background-image: url(/static/img/line_pattern_04.png), url(/static/img/cover/earth.jpg);">
		  <div class="title-container">
		<div class="title-subcontainer">
		  <div class="title">
			  Understand the opportunities in space exploration and the career potential it offers.
		  </div>
		</div>
		  </div>
		</div>
		<nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="/static/img/buttons/arrow_down_white.svg"></a></nav>
	  </div>
	</div>
	<div class="thumbnailed-list careers page2 snap pure-g smartembed">

		<div id="main" class="anchor"></div>
		<div class="pure-u-1 list-header">
			<h1>{% trans "Sort by category" %}</h1>
			<div class="filters">
				<div class="filter-topic-text"><a class="selected" href="/activities/">{% trans "all" %}</a></div>
			</div>
			{% include 'filters.html' %}
		</div>

        <div class="career_menu horizontal-jump-menu padded">
        	<ul class="list-4col">
        		<li>
        			<a href="#interviews_menu">
	        			<p class="menu_title">Interviews</p>
	        			<p>What is it like to work close to space?</p>
	        			<span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
	        		</a>
        		</li>
        		<li>
        			<a href="#careers_menu">
	        			<p class="menu_title">Careers</p>
	        			<p>It is not all about bocoming an astronaut!</p>
	        			<span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
	        		</a>
        		</li>
        		<li>
        			<a href="#webinars_menu">
	        			<p class="menu_title">Webinars</p>
	        			<p>Watch live talks about space sciences</p>
	        			<span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
	        		</a>
        		</li>
        		<li>
        			<a href="#booklets_menu">
	        			<p class="menu_title">Booklets & posters</p>
	        			<p>Print, share, and download materials on space careers</p>
	        			<span><img src="{% static 'img/down_circle_icon.svg' %}" alt=""></span>
	        		</a>
        		</li>
        	</ul>
        	<div style="clear:both;"></div>
        </div>




   </div>

<div id="list" class="thumbnailed-list careers page2 snap pure-g">

<!-- Interviews -->
	<div id="interviews_menu" class="wrapper_block_previews">
        <h2 class="title">Interviews</h2>
        <h3 class="title_green">What is it like to work to space?</h3>
        <div class="row">
			<div class="padded">
        		<ol class="padded-list list-3col{% if interviews|length < 3 %} under-filled{% endif %}">
				{% for interview in interviews %}
					<li>
						<div class="list-item-container">
							<div class="list-item careers"{% thumbnail interview.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %} style="background-image:url({{ im.url }});"{% endthumbnail %} aria-haspopup="true">
								<div class="link-container">
									<a href="{% url 'careers:interview-detail' slug=interview.slug %}">
										<div class="color"></div>
										<div class="color-black"></div>
										<div class="text">
											<div class="title">{{ interview.title }}</div>
											<div class="preview">{{ interview.teaser }}</div>
											<div class="bottom">
												<div class="expand"><img src="{% static 'img/icon_plus.svg' %}"></div>
											</div>
										</div>
									</a>
								</div>
							</div>
						
						</div>
					</li>
				{% endfor %}
				</ol>
				<div style="clear:both;"></div>
			</div>
			<!-- load more -->
			 <div class="c-green-u-1 list-footer">
				<a class="load-more" href=" "
					>Load more</a>
			</div>
			<!-- end load more -->
	    </div>
	</div>

<!-- end Interviews -->






<!-- Careers -->


	<div id="careers_menu" class="wrapper_block_previews">
        <h2 class="title">Careers</h2>
        <h3 class="title_green">It is not all about becoming an astronaut!</h3>
        <div class="row">
			<div class="padded">
        		<ol class="padded-list list-3col{% if careers|length < 3 %} under-filled{% endif %}">
				{% for career in careers %}
					<!-- Will not work locally -->
					<!-- {% thumbnail career.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
						<div class="feature" style="background-image: url({% static 'img/line_pattern_04.png' %}),  url({{ im.url }}) ;">
							<a href="{% url 'career:detail' slug=career.slug %}">
							<div class="title-container"><div class="title-subcontainer">
								<div class="title">{{ career.title }}</div>
								<div class="subtitle">{{ career.teaser }}</div>
							</div></div>
							</a>
						</div>
					{% endthumbnail %} -->
					<li>
						<div class="list-item-container">
					  {% thumbnail career.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
							<div class="list-item careers" style="background-image:url({{ im.url }});" aria-haspopup="true">
								<div class="link-container">
									<a href="{% url 'careers:career-detail' slug=career.slug %}">
										<div class="color"></div>
										<div class="color-black"></div>
										<div class="text">
											<div class="title">{{ career.title }}</div>
											<div class="preview">{{ career.teaser }}</div>
											<div class="bottom">
												<div class="expand"><img src="{% static 'img/icon_plus.svg' %}"></div>
											</div>
										</div>
									</a>
								</div>
							</div>
					  {% endthumbnail %}
						</div>
					</li>
					<!-- Slug : {{ career.slug }}<br>
					Teaser : {{ career.teaser }}<br>
					Story : {{ career.story|safe }}<br>
					Field: {{ career.field }}<br>
					Career type : {{ career.career_type}}<br>
					Level of study : {{ career.level_of_study }}<br>
					Interview : {{ career.interview }}<br>
					<a href="{% url 'careers:career-detail' slug=career.slug %}">URL</a><br>
					Pdf url : {{ career.pdf_url }}
					<hr/> -->
				{% endfor %}
				</ol>
				<div style="clear:both;"></div>
			</div>

	    	<!-- load more -->
				    <div class="c-green-u-1 list-footer">
				        <a class="load-more" href=" "
				            >Load more</a>
				       
				    </div>

		<!-- load more -->
	    </div>
	</div>


<!-- Careers -->



<!-- Webinars -->


<div id="webinars_menu" class="wrapper_block_previews">
        <h2 class="title">Webinars</h2>
        <h3 class="title_green">Watch live talks about space sciences</h3>
        <div class="row">
			<div class="padded">
        		<ol class="padded-list list-3col{% if webinars|length < 3 %} under-filled{% endif %}">
					{% for webinar in webinars %}
					<li>
						<div class="list-item-container">
					  {% thumbnail webinar.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
							<div class="list-item careers" style="background-image:url({{ im.url }});" aria-haspopup="true">
								<div class="link-container">
									<a href="{% url 'careers:webinar-detail' slug=webinar.slug %}">
										<div class="color"></div>
										<div class="color-black"></div>
										<div class="text">
											<div class="title">{{ webinar.title }}</div>
											<!--<div class="preview">{{ webinar.teaser }}</div>-->
											<div class="bottom">
												<div class="expand"><img src="{% static 'img/icon_plus.svg' %}"></div>
											</div>
										</div>
									</a>
								</div>
							</div>
					{% endthumbnail %}
						</div>
					</li>
					<!-- Teaser : {{ webinar.teaser }}<br>
					Story : {{ webinar.story|safe }}<br>
					Title : {{ webinar.title }}<br>
					Register : {{ webinar.register }}<br>
					Location : {{ webinar.location }}<br>
					Target group : {{ webinar.target_group }}<br>
					Language : {{ webinar.language }}<br>
					<a href="{% url 'careers:webinar-detail' slug=webinar.slug %}">URL</a><br>
					Pdf url : {{ webinar.pdf_url }}
					<hr/> -->
					{% endfor %}
				</ol>
				<div style="clear:both;"></div>
			</div>


		<!-- load more -->
				    <div class="green-u-1 list-footer">
				        <a class="load-more" href="#"
				           >Load more</a>
				       
				    </div>

		<!-- load more -->
		</div>
	</div>
</div>



<!-- Webinars -->


{% endblock %}
