			<div class="text-content">
				<div id="filters" class="anchor"></div>
				<ul class="list-4col filters{% if category %} category-{{ category }}{% endif %}">
					<li class="filter-topic-image">
                        <a href="{% url page_name_filter category='space' %}#filters">
							<div class="icon">
								<div class="normal icon-space"></div>
								<div class="hover icon-space"></div>
							</div>
							<div class="filter-title">{{ CATEGORIES.space.title }}</div>
						</a>
					</li>
					<li class="filter-topic-image">
						<a href="{% url page_name_filter category='earth' %}#filters">
							<div class="icon">
								<div class="normal icon-earth"></div>
								<div class="hover icon-earth"></div>
							</div>
							<div class="filter-title">{{ CATEGORIES.earth.title }}</div>
						</a>
					</li>
					<li class="filter-topic-image">
						<a href="{% url page_name_filter category='navigation' %}#filters">
							<div class="icon">
								<div class="normal icon-navigation"></div>
								<div class="hover icon-navigation"></div>
							</div>
							<div class="filter-title">{{ CATEGORIES.navigation.title }}</div>
						</a>
					</li>
					<li class="filter-topic-image">
						<a href="{% url page_name_filter category='heritage' %}#filters">
							<div class="icon">
								<div class="normal icon-heritage"></div>
								<div class="hover icon-heritage"></div>
							</div>
							<div class="filter-title">{{ CATEGORIES.heritage.title }}</div>
						</a>
					</li>
				</ul>
			</div>
