$header-height-normal: 215px;
$header-height-small: 60px;

.fake-padding { height: $header-height-normal; }

#menu-main {
  display: none;
}

#header {
	height: $header-height-normal;
  .menu-bar {
    display: table;
    position: absolute;
    width: 100%;
    > div {
      display: table-cell;
      width: 48%;
      &.menu-bar-left {
        text-align: right;
        padding-right: 120px;
      }
      &.menu-bar-right {
        text-align: left;
        padding-left: 120px;
      }
    }
    text-transform: uppercase;
    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      padding: 18px 0 15px 0;
      margin: 0 1.5em;
    }
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 24px;
    .logo-el {
      height: 2.5em;
      width: 146px;
    }
  }
  .slogan {
    // padding: 1em;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    &.subtitle {
      // padding-top: 1em;
      font-size: 40px;
    }
  }

  &.small {
    height: $header-height-small;
    .logo {
      margin-top: 8px;
    }
  }
}

#cover .feature-container .feature .title-container .title-subcontainer .title {
  font-size: 30px;
}

#footer {
  .social {
    .buttons {
      padding-top: 40px;
      a {
        padding: 12px;
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
  .copyright {
    .copyright-content {
      .eu-flag img {
        width: 46px;
      }
    }
  }
}

body.homepage {
  #header {
    .logo {
      margin-top: 35px;
      .logo-el {
        height: 3.5em;
        width: 212px; /**/
      }
    }
    &.small {
      .logo {
        margin-top: 8px;
        .logo-el {
          height: 1.8em;
        }
      }
    }
  }
}

body.single {
  .fake-padding { height: $header-height-small; }
}

// .feature-container .fake-padding {
//     min-height: 33%;
// }

#sections {
  .section {
    height: 460px;
  }
}

#categories {
  .category {
    .icon {
      position: relative;
      height: 145px;
      width: 145px;
    }
    .title {
      font-size: 14px;
      width: 145px;
    }
  }
}

.content-card {
  .image-container {
    height: 550px;
  }
  .content-container {
    display: table;
    .content-main-column {
      display: table-cell;
      vertical-align: top;
    }
    .content-right-column {
      display: table-cell;
      vertical-align: top;
    }
  }
}

/* REMOVE STUART
.more-container-list {
  .list-item-container{
    margin: 10px;
  }
}
*/
