body {
	overflow-x: hidden;
}

/* General styles for all menus */

.sp-menu {
	background: white;
	position: fixed;
	height: 100%;
	a {
		display: block;
		color: inherit;
		text-decoration: none;
		&:hover {
			background: rgba(0,0,0,$bg-opacity);
		}
	}
}

.sp-menu-vertical {
	width: 190px;
	top: 0;
	z-index: 10000;
	a {
		padding: ($header-height-small - $baseline)/2;
	}
}

.sp-button {
	position: absolute;
	.button {
		cursor: pointer;
		position: absolute;
		top: 0;
		height: $header-height-small;
		width: $header-height-small;
		&.mainmenu:after {
			background-image: url(../img/buttons/menu_black.svg);
		}
		&.language:after {
			background-image: url(../img/buttons/language_black.svg);
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			height: $header-height-small;
			width: $header-height-small;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 40%;
		}
	}
}

.sp-links {
	height: 100%;
	overflow: scroll;
	z-index: 999;
}

/* Vertical menu that slides from the left or right */

.sp-menu-left {
	left: -190px;
	&.sp-menu-open {
		left: 0px;
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.175);
		.button {
			box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.175);
		}
	}
	.sp-button {
		right: 0px;
	}
}

.sp-menu-right {
	right: -190px;
	&.sp-menu-open {
		right: 0px;
		box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.175);
		.button {
			box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.175);
		}
	}
	.sp-button {
		left: 0px;
	}
}

a.menu-search {
    vertical-align: middle;
    height: 65px;
    float:left;
}


/* Transitions */

.sp-menu,
.sp-menu-push {
	-webkit-transition: right $fast ease, left $fast ease, background $time ease;
	-moz-transition: right $fast ease, left $fast ease, background $time ease;
	transition: right $fast ease, left $fast ease, background $time ease;
}


