$font-headings: 'Miso', sans-serif;
$font-normal: 'Ubuntu', sans-serif;

$color-text: black;
$color-background: white;

// $color-footer-grey: #2B2B2B;

$color-cycle-pager-1: #94959A;
$color-cycle-pager-2: #B7B8BB;

$homepage-sections-opacity: 0.8;
$homepage-sections-background-carrers: rgba(78, 216, 195, $homepage-sections-opacity);


$sections: "news", "careers", "scoops", "games", "activities", "skills";
$section-colors: ("news": #3e5fdb, "careers": #4ed8c3, "scoops": #ed3b5a, "games": #f9b653, "activities": #9d59e4, "skills": #52c36f, "about": #3e5fdb);
$section-background-colors: ("news": rgba(62, 95, 219, .8), "careers": rgba(78, 216, 195, .8), "scoops": rgba(237, 59, 90, .8), "games": rgba(249, 182, 83, .8), "activities": rgba(157, 89, 228, .8), "skills": rgba(82, 195, 111, .8), "about": rgba(62, 95, 219, .8) );

$section-color-home: #3e5fdb;

$header-height-normal: 120px;
$header-height-small: 71px;

$content-max-width: 1000px;

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family:  $font-normal;
    letter-spacing: 0.09em;
}
html,body { height: 100%;  }

body {
  background-color: $color-background;
  color: $color-text;
  overflow-x: hidden; // to keep sliding menus hidden
}

.box-middle-ext { display: table; width: 100%; height: 100%; }
.box-middle-int { display: table-cell; vertical-align: middle; }


.fake-padding { height: $header-height-normal; }

#header {
  position: fixed;
  // height: 128px;
  width: 100%;
  background-color: white;
  // opacity: .7;
  // -webkit-clip-path: url(#rombus);
  // clip-path: url(#rombus);
  // -webkit-clip-path: circle(700% at 50% -1095%);
  // clip-path: circle(700% at 50% -1095%);
  text-align: center;
  // overflow: hidden;
  top: 0;
  z-index: 999;
  .menu-bar {
    display: none;
  }
  .logo {
    margin-top: 12px;
    margin-bottom: 12px;
    .logo-el {
      display: inline-block;
      height: 43px;
      width: 100px;
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    // margin-bottom: 8px;
    // img {
    //   height: 100%;
    // }

  }
  .slogan {
    font-family: $font-headings;
    font-size: 14px;
    line-height: 0.9em;
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 0.08em;
    // padding-bottom: 20px;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    &.subtitle {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .sp-menu {
    // box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);    
  }
  .sp-links {
  }
  .button {
    position: absolute;
    top: 0;
    background-color: white;
    // box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.175);    
    img {
      padding: 20px;
      opacity: .3;
      width: 24px;
    }
    &.mainmenu {
      left: 0;
    } 
    &.language {
      right: 0;
    } 
  }

  // resize header when scrolling down
  height: 120px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  .logo {
    .logo-el {
      -webkit-transition: height 1s ease;
      transition: height 1s ease;
    }
  }
  &.small {
    height: $header-height-small;
    .logo {
      .logo-el {
        height: 43px;
      }
    }
    .slogan {
      opacity: 0;
    }
  }
}


#cover {
  height: 100%;
  text-align: center;
  overflow: hidden; // hides extra features when js is disabled
  a {
    color: inherit;
    text-decoration: none;
  }

  // .curve {
  //   font-size: 0;
  //   img {
  //     width: 100%;
  //   }
  // }
  .feature-container {
    // width: 100%;
    height: 100%;
    // background-color: black;
    // padding-top: 120px;
    .cycle-slideshow {
      height: 100%;
    }
    .feature {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: repeat, no-repeat;
      background-size: auto, cover;
      // position: relative;
      .title-container {
        display: table;
        height: 100%;
        width: 90%;
        margin: auto;
        .title-subcontainer {
          display: table-cell;
          vertical-align: middle;
          // padding-bottom: 4em;
          color: white;
          .suptitle {
            font-family: $font-normal;
            text-transform: none;
            font-size: 12px;
          }
          .title {
            font-family: $font-headings;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
          }
          .subtitle {
            font-family: $font-normal;
            text-transform: none;
            font-size: 12px;
            padding-top: 4em;
          }
        }
      }
    }
    .cycle-pager {
      z-index: 199;
      left: 1%; right: 1%;  // instead of width: 100%;
      position: absolute;
      bottom: 40px;
      // background-color: $color-background-homepage-feature;
      padding: 5px 45px;
      margin: auto;
      span { 
        font-family: arial; font-size: 24px; 
        width: 18px;
        cursor: pointer; 
        display: inline-block; color: $color-cycle-pager-1; 
        &.cycle-pager-active { color: $color-cycle-pager-2;}
    // .cycle-pager > * { cursor: pointer;}
      }
    }
    .arrow-pagedown {
      z-index: 199;
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      img {
        opacity: 0.6;
        height: 14px;
        padding: 20px;
      }
    }

    // min-height: 100px;
    // margin-top: 190px;
    // .fake-padding {
    //   height: 120px;
    // }
    // .feature {
    //   // display: table;
    //   width: 100%;
    //   height: 100%;
    //   padding: 0 30px;
    //   background-color: black;
    //   background-image: url(../img/line_pattern.png),  url(../sample-images/Header_example_01.jpg) ;
    //   background-position: center;
    //   background-repeat: repeat, no-repeat;
    //   background-size: auto auto, auto 100%;
    //   // width: 100%;
    //   color: white;
    //   .lead-container {
    //     display: table-row;
    //     height: 40%;
    //     .lead {
    //       display: table-cell;
    //       vertical-align: bottom;
    //       padding-bottom: 10px;
    //     }
    //   }
    //   .title-container {
    //     display: table-row;
    //     height: 60%;
    //     .title {
    //       display: table-cell;
    //       vertical-align: top;
    //       font-family: $font-headings;
    //       font-size: 26px;
    //       text-transform: uppercase;
    //       font-weight: bold;
    //     }
    //   }
    //   .arrow-pagedown-container {
    //     display: table-row;
    //     // height: 14px;
    //     .arrow-pagedown {
    //       display: table-cell;
    //       // vertical-align: middle;
    //       opacity: .5;
    //       // position: absolute;
    //       width: 100%;
    //       // bottom: -20px;
    //       img {
    //         padding: 10px;
    //         height: 14px;
    //         margin: auto;
    //       }
    //     }
    //   }
    // }
  }
}


#sections {
  // background-color: #dfd;
  color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
  .section {
    height: 320px;
    background-size: cover;
    text-align: center;
    // display: table-cell;
    
    .title {
      font-family: $font-headings;
      text-rendering: optimizeLegibility; // enable kerning
      font-size: 24px;
      // letter-spacing: 0.09em;
      line-height: 0.9em;
      text-transform: uppercase;
      padding: 1em 0.2em;
    }
    .description {
      padding: 1em 0.5em;
      font-size: 12px;
    }
    .expand {
      padding: 32px;
      img {
        height: 32px; width: 32px;
      }
    }
    .description, .expand {
      display: none;
    }
    &:hover {
      // .box-middle-ext { background: rgba(255, 0, 0, 0.8); }
      .box-middle-ext { background-size: 20% 10%; }
      .box-middle-int { vertical-align: bottom; }
      .description, .expand {
        display: block;
      }
    }
  }
  .section-1 {
    background-image: url(../img/sections/01.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'careers'); }
    }
  }
  .section-2 {
    background-image: url(../img/sections/02.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'scoops'); }
    }
  }
  .section-3 {
    background-image: url(../img/sections/03.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'games'); }
    }
  }
  .section-4 {
    background-image: url(../img/sections/04.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'activities'); }
    }
  }
  .section-5 {
    background-image: url(../img/sections/05.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'skills'); }
    }
  }
  .section-6 {
    background-image: url(../img/sections/06.jpg);
    &:hover {
      .box-middle-ext { background-color: map-get($section-background-colors, 'about'); }
    }
  }
  .arrow-pagedown {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    img {
      // opacity: 0.6;
      height: 14px;
      padding: 20px;
    }
  }
}

#categories {
  max-width: $content-max-width;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  .category {
    .icon {
      position: relative;
      height: 100px;
      width: 100px;
      margin: auto;
      .normal, .hover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: contain;
      }
      .hover {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
      }
      &:hover {
        .hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }    
    .title {
      width: 100px;
      margin: auto;
      font-size: 12px;
    }
  }
  a {
    color: $section-color-home;
    text-decoration: none;
  }
}

.thumbnailed-list {
  max-width: 1200px;
  margin: auto;
  &.more-container-list {
    background-color: white;
  }
  .list-header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    .title {
      font-family: $font-headings;
      font-size: 32px;
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .filters {
      display: table;
      margin: auto;
      .filter-topic-text, .filter-topic-image {
        display: table-cell;
        width: 24%;
        // display: inline;
        font-size: 12px;
        padding: 0 2em;
      }
      img {
        height: 50px;
        // width: 20px;
      }
      a {
        text-decoration: none;
        color: inherit;
        &.selected {
          font-weight: bold;
        }
      }
    }
  }
  .list-item-container{
    margin: 10px;
  } 
  .list-item {
    height: 215px;
    position: relative;
    > div, .link { position: absolute; height: 100%; width: 100%; }
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    .date {
      font-size: 12px;
      padding-top: 50px;
      // text-shadow: 0 0 4px black;
    }
    .title {
      font-family: $font-headings;
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 5px;
      padding-left: 2em; 
      padding-right: 2em;
      // text-shadow: 0 0 8px black;
    }
    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;

    }
    .theme {
      // font-size: 12px;
      img {
        height: 32px;
        width: 32px;
      }

    }
    .expand {
      padding: 16px;
      img {
        height: 32px; width: 32px;
      }
    }
    .color-black {
      background-color: rgba(0, 0, 0, .2);
    }
    .color, .date, .bottom {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
    }
    &:hover {
      .color, .date, .bottom {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .list-footer {
    padding-top: 30px;
    text-align: center;
    .load-more-button {
      display: inline-block;
      border: solid 2px gray;
      border-radius: 100px;
      padding: 4px 20px;
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      &:hover {
        color: white;
        background-color: map-get($section-colors, 'scoops');
        border-color: map-get($section-colors, 'scoops');
      }
    }
  }
}

.content-card {
  max-width: $content-max-width;
  margin: auto;
  background-color: #fafafa;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
  .title-container {
    font-family: $font-headings;
    padding: 10px 20px;
    .title {
      font-size: 24px;
      text-transform: uppercase;
    }
    .date {
      font-size: 14px;
      text-transform: uppercase;      
    }
  }
  .image-container {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .content-container {
    padding: 10px 20px;
    font-size: 14px;

    .alert {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    p {
      margin-top: 0;
      line-height: 1.3em;
    }
    .section-content img {
      max-width: 100%;
    }

    .coolfact_title {
      font-family: $font-headings;
      color: map-get($section-colors, 'scoops');
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      img {
        height: 14px; width: 14px;
      }
    }

    .content-main-column {
      padding: 0 20px;
      .section-caption {
        font-family: $font-headings;
        text-transform: uppercase;
        font-size: 20px;
      }
    }

    .content-right-column {
      padding: 0 30px;
      padding-top: 26px;
      text-align: center;
      min-width: 100px;
      > div {
        border-top: solid thin grey;
        padding: 20px 0;
        .caption {
          font-family: $font-headings;
          font-size: 20px;
          text-transform: uppercase;
        }
        .value {

        }
      }
      a {
        text-decoration: underline;
        color: inherit;
      }
      img.button {
        height: 28px; width: 28px;
        padding: 6px;
        cursor: pointer;
      }
    }


  }
}

.content-page {
  padding-top: 100px;
  max-width: $content-max-width;
  margin: auto;
  .title {
    font-family: $font-headings;
    font-size: 24px;
    // padding-top: 100px;
    text-transform: uppercase;
  }
  .subtitle {
    padding-bottom: 50px;
    color: map-get($section-colors, 'about');
  }
  .content {
    font-size: 12px;
  }
  .pure-u-1-4 > div {
    padding: 0 40px;
  }
  .title-container {
    text-align: center;
    padding: 10px 20px;
    // h1 {
    //   padding-top: 100px;      
    // }
    p {
      padding-bottom: 50px;
      color: map-get($section-colors, 'about');      
    }
  }
  .page-about-goals {
    // padding-top: 60px;
    text-align: center;
  }
  .page-about-what {

  }
  .page-about-contact {
    text-align: center;
  }
  .page-about-team {
    text-align: center;
    img {
      padding: 10px 20px;
      vertical-align: middle;
    }
  }
}


#subscribe {
  min-height: 280px;
  margin: 20px 0;
  background: url(../img/subscribe/A-stars.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  color: white;
  text-align: center;
  .subscribe-container-1 {
    margin: 40px 0;
    background: url(../img/subscribe/background.jpg);
    background-position: center;
    background-size: cover;
  }
  .subscribe-container-2 {
    display: table;
    height: 184px;
    width: 100%;
    margin: 8px 0;
    // padding: 20px 40px;
    background-color: rgba(62, 95, 219, .9);
  }
  .subscribe-container-3 {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%; 
    // height: 100%;
    // width: 100%;
  }
  .line1 {
    font-family: $font-headings;
    font-size: 26px;
    text-transform: uppercase;
  }
  .line2 {
    font-family: $font-normal;
    font-size: 12px;
  }
} 

#footer {
  position: relative;
  > div {
    position: absolute;
    width: 100%;
  }
  margin-top: 40px;
  .social-background {
    height: 200px;
    background-image: url(../img/footer-bg-social.svg);
    background-position: top center;
    background-repeat: no-repeat;
  }
  .social {
    height: 200px;
    .buttons {
      padding-top: 26px;
      text-align: center;
      img {
        height: 28px; width: 28px;
        padding: 6px;
      }
    }
  }
  .copyright {
    margin-top: 50px;
    min-height: 240px;
    background: url(../img/footer-bg-copyright.svg);
    background-position: top center;
    background-repeat: no-repeat;
    .copyright-content {
      padding-left: 16px; 
      padding-right: 16px;
      padding-top: 108px;
      text-align: center;
      color: white;
      font-size: 10px;
      .eu-flag img {
        width: 36px;
      }
      p {
        margin: 2em;
      }
    }
  }
}

#mc_embed_signup {
    .newsletter-call {
        font-size: 32px;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .mc-field-group {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
        border: solid 2px white;
        // padding-left: 30px; padding-right: 30px;
        padding-top: 6px; padding-bottom: 6px;
        margin: 20px auto 0;

        max-width: 300px;
        input {
            background: none;
            border: none;
            font-family: $font-normal;
            font-size: 14px;
            width: 100%;
            text-align: center;
            &::-webkit-input-placeholder { text-align: center; color: white; opacity: 0.6; }
            &:-moz-placeholder { text-align: center; color: white; opacity: 0.6; }
            &::-moz-placeholder { text-align: center; color: white; opacity: 0.6; }
            &:-ms-input-placeholder { text-align: center; color: white; opacity: 0.6; }
        }
    }
    // .mc-submit {
    //     padding-top: 100px;
    //     img {
    //         height: 70px;
    //         vertical-align: top;
    //     }
    //     input[type=submit] {
    //         height: 70px;
    //         border: none;
    //         background: $orange;
    //         border-radius: 30px;
    //         font-family: $font-bowlby;
    //         font-size: 38px;
    //         color: white;
    //         padding-left: 40px; padding-right: 40px;
    //     }
    // }
}

.more-container-header {
  .list-header {
    background-image: url(../img/more-title-bg.svg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0 !important; // override the padding defined in .thumbnailed-list
    .title {
      font-family: $font-headings;
      text-transform: uppercase;
      font-size: 24px;
      color: white;
      padding: 1em;
    }
  }
  .list-header-padding {
    height: 110px;
    margin-top: -95px;
    background: url(../img/more-bg.svg);
    background-position: top center;
    background-repeat: no-repeat;
  }
}

  .list-item-container{
    margin: 10px;
  } 


@import "sp-menu";

body.single {
  background-color: #f4f4f4;
  .fake-padding { height: $header-height-small; }
}

@each $section in $sections {
body.section-#{$section} {
  #cover {
    .feature-container {
      background-color: map-get($section-colors, $section);
    }
  }
  #header {
    .slogan {
      color: map-get($section-colors, $section);
    }
    &.small {
      color: white;
      background-color: map-get($section-colors, $section);
      .button {
        background-color: map-get($section-colors, $section);
      }
      .sp-menu {
        background-color: map-get($section-colors, $section);
        .sp-button .button {
          &.mainmenu:after {
            background-image: url(../img/buttons/menu_white.svg);
          }
          &.language:after {
            background-image: url(../img/buttons/language_white.svg);
          }
        }
      }
      .logo .logo-el {
        background-image: url(../img/logo-white.svg);
      }
    }
  }
  .content-card {
    .title-container {
      color: map-get($section-colors, $section);
    }
  }
  .more-container-header .list-header {
    background-image: url(../img/more-title-bg-#{$section}.svg);
  }
  #footer .social-background {
    background-image: url(../img/footer-bg-social-#{$section}.svg);    
  }
}
}



.thumbnailed-list { @each $section in $sections {
  &.#{$section} {
    .list-header .title {
      color: map-get($section-colors, $section); // unquote('$section-color-#{$section}');
    }
    .filters a.selected {
      color: map-get($section-colors, $section);
    }
    .list-footer .load-more-button:hover {
      color: white;
      background-color: map-get($section-colors, $section);
      border-color: map-get($section-colors, $section);
    }
  }
  .list-item.#{$section} .color {
    background-color: map-get($section-background-colors, $section);
  }
}}



.text-content {
  padding-top: 20px;
  max-width: 999px;
  margin: auto;
  text-align: center;
  font-size: 14px;

  .title {
            font-family: $font-headings;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;

  }
  p {

  }
}

.smartembed {
  h1 {
    font-family: $font-headings;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 12px; 
  }
}


/* Make sure the map container has a defined height */
#partnermap { height: 600px; background-color: #3DBCEF; }

.partnermap-legend {
  img {
    height: 1em;
  }
}
.leaflet-popup-content {
  width: 200px;
}
.partnermap-popup {
  font-family: $font-normal;
  .institution-logo, .institution-details {
    float: left;
  }
  .contact-details {
    clear: both;
  }
  .institution-logo {
    // min-width: 33%;
    // max-width: 80%;
    img {
      max-height: 50px;
      max-width: 200px !important;
    }
  }
  .institution-details {
    max-width: 66%;
  }
  hr {
    width: 60%;
    // https://css-tricks.com/examples/hrs/
    border: 0; height: 1px; background: #888; //background-image: linear-gradient(to right, #ccc, #333, #ccc); 
  }
}


.thumbnailed-list {
  .filters.level {
    margin-top: 10px; 
    font-size: 12px;
    .pure-menu-has-children {
      width: 150px;
    }
  }
}

// @media screen and (min-width: 35.5em) { // sm: 568px
//   @import "main_568";
// }
@media screen and (min-width: 48em) { // md: 768px 
  @import "main_768";
}
@media screen and (min-width: 64em) { // lg: 1024px
  @import "main_1024";
}
@media screen and (min-width: 100em) { // 1600px
  @import "main_1600";
}

@media print {
  @import "print"
}
