{% extends 'base.html' %}
{% load staticfiles thumbnail smartpages i18n %}

{% block site_title %}{% trans SECTIONS.scoops.title %} | Space Awareness {% endblock %}

{% block extra_body_class %}section-scoops{% endblock %}

{% block slogan %}
<div class="slogan subtitle">{{ SECTIONS.scoops.title }}</div>
<div class="slogan">{{ SECTIONS.scoops.subtitle }}</div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
{% endblock %}

{% block content %}
    <div id="cover" class="">
        <div class="feature-container">
            <div class="fake-padding"></div>
            <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-timeout="5000">
    {% for object in object_list|slice:":4" %}
        {% thumbnail object.main_visual THUMBNAIL_ALIASES.spread crop="center" as im %}
                <div class="feature" style="background-image: url({% static 'img/line_pattern_04.png' %}),  url({{ im.url }});">
                    <a href="{% url 'scoops:detail' code=object.code slug=object.slug %}">
                        <div class="title-container"><div class="title-subcontainer">
                            <div class="title">{{ object.title }}</div>
                            <!-- <div class="subtitle"></div> -->
                        </div></div>
                    </a>
                </div>
        {% endthumbnail %}
    {% endfor %}
            </div>
			<nav class="arrow-pagedown-container"><a class="arrow-pagedown" href="#main"><img src="{% static 'img/buttons/arrow_down_white.svg' %}"></a></nav>
        </div>
    </div>
    <div id="list" class="thumbnailed-list scoops page2 snap pure-g">
		<div id="main" class="anchor"></div>
        <div class="pure-u-1 text-content smartembed">
            {% smartembed 'section-spacescoop-intro' %}
        </div>

        <div class="pure-u-1 list-header">
            <h2 class="title">{% trans "Sort by category" %}</h2>
            <div class="filters">
                <div class="filter-topic-text"><a class="selected" href="/scoops/">{% trans "all" %}</a></div>
            </div>
            {% include 'filters.html' %}
        </div>

		{% include page_template %}
    </div>

{% endblock %}
