{% load staticfiles thumbnail %}

{% thumbnail object.main_visual THUMBNAIL_ALIASES.list_thumb crop="center" as thumb %}
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3"><div class="list-item-container">
        <div class="list-item scoops" style="background-image:url({{ thumb.url }});" aria-haspopup="true">
            <div class="color"></div>
            <div style="text">
                <div class="date">{{ object.release_date|date:"DATE_FORMAT" }}</div>
                <div class="title">{{ object.title }}</div>
                <div class="bottom">
                    <div class="theme">{% include 'categories/categories_icons.html' %}</div>
                    <div class="expand"><a href="{% url 'scoops:detail' code=object.code slug=object.slug %}"><img src="{% static 'img/icon_plus.svg' %}"></a></div>
                </div>
            </div>
            <div class="link-container">
                <a href="{% url 'scoops:detail' code=object.code slug=object.slug %}"><div class="link"></div></a>
            </div>
        </div>
    </div></div>
{% endthumbnail %}
